<h1 mat-dialog-title i18n="dialog, let user choose some options for this draw@@draw options">Options for the Draw:</h1>
<mat-dialog-content>
    <form name="form" #f="ngForm" novalidate>
        <div *ngIf="data.options === 0">
            <h4 *ngIf="rulesFor2020" i18n="dialog, describes that (from 2020) default min num of players per cat is 4@@min num players default 4 from 2020">Minimum number of players per ADULT category (please get ICO/DCV consent if different from 4)</h4>
            <h4 *ngIf="!rulesFor2020" i18n="dialog, describes that (before 2020) default min num of players per cat is 8 except juniors@@min num players default 8 except juniors from 2020">Minimum number of players per ADULT category (need ICO consent if different from 8 (DCV: 4); Juniors are always minimum 4)</h4>
            <mat-form-field class="select-form-group">
                <input matInput type="number" min="2" max="8" step="1" placeholder="Min. players" name="min players" [(ngModel)]="data.minPlayersPerCategory">
            </mat-form-field>
        </div>
        <div *ngIf="data.options === 1">
            <h4 i18n="dialog, let user choose which categories have a group stage@@choose cats with group stage">1. Which categories should have a GROUP PHASE (usually all single categories)?</h4>
            <div *ngFor="let cat of data.cats; let c=index">
                <mat-checkbox name="cat-{{c}}" [(ngModel)]="data.doGroupPhase[c]" color="primary">{{cat}}</mat-checkbox>
                <br />
            </div>
            <h4 i18n="dialog, let user choose the tournament system@@choose tournament system">2. Which system should be used? (DCV: A/B-round for categories with >=16 players)</h4>
            <mat-form-field class="select-form-group">
                <mat-select placeholder="Tournament System" name="tournament system" [(ngModel)]="data.assignmentMode">
                    <mat-option value="DCV">DCV</mat-option>
                    <mat-option value="ICO">ICO</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>
        <mat-icon>cancel_presentation</mat-icon>
    </button>
    <button mat-raised-button (click)="onYesClick()" i18n="dialog, go to next step button@@next step button">Next</button>
</mat-dialog-actions>