<ng-template #fillspace>
    <span class="score-input-placeholder"></span>
</ng-template>

<div [ngClass]="{'score-input-overlay-large': (isLarge$ | async)}" class="score-input-overlay">
    <div class="score-input-row">
        <span *ngFor="let i of [29, 28, 27, 26, 25, 24, 23, 22, 21, 20]">
            <button *ngIf="allowedPoints.indexOf(i) >= 0; else fillspace"
                (click)="setPoints(i)" color="primary" mat-raised-button class="score-input-button">
                {{i}}
            </button>
        </span>
    </div>
    <div class="score-input-row">
        <span *ngFor="let i of [19, 18, 17, 16, 15, 14, 13, 12, 11, 10]">
            <button *ngIf="allowedPoints.indexOf(i) >= 0; else fillspace"
                (click)="setPoints(i)" color="primary" mat-raised-button class="score-input-button">
                {{i}}
            </button>
        </span>
    </div>
    <div class="score-input-row">
        <button *ngFor="let i of [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]"
            (click)="setPoints(i)" color="primary" mat-raised-button class="score-input-button"
            [disabled]="allowedPoints.indexOf(i) < 0" [ngStyle]="{'display': allowedPoints.indexOf(i) >= 0 ? 'initial' : 'none'}">
            <!-- [disabled]="allowedPoints.indexOf(i) < 0"> -->
            {{i}}
        </button>
    </div>
</div>