.score-input-overlay {
    position: fixed;
    top: 80px;
    left: 5%;
    z-index: 99999999;
    width: 90%;
}
.score-input-overlay-large {
    margin-left: auto;
    margin-right: auto;
    left: 140px;
    right: 0;
    text-align: center;
    width: 475px;
}

.score-input-button {
    min-width: 9%;
    margin-right: 0.9%;
    margin-bottom: 5px;
    background-color: green!important;
    width: 9%;
    padding: 0;
    font-weight: bolder;
    font-size: 130%;
}
.score-input-placeholder {
    display: inline-block;
    min-width: 9%;
    max-width: 9%;
    margin-right: 0.9%;
    margin-bottom: 5px;
    background-color: green!important;
    width: 9%;
    padding: 0;
    font-weight: bolder;
    font-size: 130%;
}

.score-input-row {
    padding: 10px;
    background-color: rgb(187, 245, 255);
}