<div class="badge">{{rank}}</div>
<table>
    <tr>
        <td class="points">{{points}} Pt.</td>
        <td class="pname">{{player.first_name}} {{player.last_name}}</td>
    </tr>
</table>
<!-- <img *ngIf="player.picture" [src]="player.picture" height="80px"> -->