<h2 i18n="reset password, reset password header@@reset password header">Reset Password</h2>
<div *ngIf="!setPassword; else doSetPassword">
    <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="reset password, email@@Email" matInput type="email" placeholder="Email"
                    name="email" [(ngModel)]="myemail" #email="ngModel" required email>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button [disabled]="loading" mat-raised-button i18n="reset password, reset password button@@reset password button">Reset Password</button>
            <mat-spinner *ngIf="loading" [diameter]="15" [strokeWidth]="1"></mat-spinner>
        </div>
    </form>
</div>
<ng-template #doSetPassword>
    <form name="form" (ngSubmit)="f.form.valid && updatePassword()" #f="ngForm" novalidate>
        <div class="form-group">
            <mat-form-field class="form-group">
                <input i18n-placeholder="reset password, password@@password" matInput type="password" placeholder="Password" name="password" [(ngModel)]="mypassword" #password="ngModel" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="form-group">
                <input i18n-placeholder="reset password, repeat password@@repeat password" matInput type="password" placeholder="Repeat password" name="repeat-password" [(ngModel)]="repeat_password" #password="ngModel" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button [disabled]="loading" mat-raised-button i18n-placeholder="reset password, update password@@update password">Update Password</button>
            <mat-spinner *ngIf="loading" [diameter]="15" [strokeWidth]="1"></mat-spinner>
        </div>
    </form>
</ng-template>