<app-score-input *ngIf="showScoreInput" [partnerHas]="showScoreInput?.partnerHas" (scored)=enterScore($event)></app-score-input>

<mat-tab-group>
    <mat-tab label="Spieltage">
        <form *ngIf="!cannotAddRounds()" name="form" (ngSubmit)="f.form.valid && addRound()" #f="ngForm" novalidate>
            <!-- <p-calendar showIcon=true id="from" dataType="string" dateFormat="dd.mm.yy" name="from" [(ngModel)]="newFrom"></p-calendar> -->
            <label for="from">Von</label>&nbsp;
            <input [matDatepicker]="fromDatepicker" id="from" name="from" [(ngModel)]="newFrom">
            <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatepicker></mat-datepicker>

            <!-- <p-calendar showIcon=true id="to" dataType="string" dateFormat="dd.mm.yy" name="to" [(ngModel)]="newTo"></p-calendar> -->
            <label for="to">Bis</label>&nbsp;
            <input [matDatepicker]="toDatepicker" id="to" name="to" [(ngModel)]="newTo">
            <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #toDatepicker></mat-datepicker>

            <span [matTooltip]="cannotAddRounds() ? 'Only Organiser or DCV can do this.' : 'Create the draw for the next round! Check the dates!'">
                <button style="margin-left: 50px;" type="submit" mat-raised-button [disabled]="cannotAddRounds()">
                    Spieltag zuf&uuml;gen
                </button>
            </span>
        </form>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let round of rounds.slice().reverse(); let c=index" hideToggle="false" [expanded]="c === 0">
                <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                    <mat-panel-title>
                        <h2>Runde {{rounds.length-c}}: {{round.start}} - {{round.end}}</h2>
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-checkbox *ngIf="c === 0" [disabled]="cannotAddRounds()" labelPosition="before" class="checkbox-final" [(ngModel)]="isFinalRound" (change)="isFinalRoundChanged()">Ist letzte Runde?</mat-checkbox>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="singlegroupmatch-container">
                    <table *ngFor="let match of round.matches; let m=index" #table class="singlegroupmatch" [class.unfinished]="!isFinished(match, rounds.length-c-1, m)">
                        <tr>
                            <th>Match {{match.matchNr.num +1}}</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>Sum</th>
                        </tr>
                        <tr class='singlegroupmatch-row'>
                            <td class="singlegroupmatch-player">
                                <div class='groupNames'>
                                    <span *ngIf="match.player1.bye === true;else nofreilos" class='groupLastName'>&lt;Freilos&gt;</span>
                                    <ng-template #nofreilos>
                                        <span class='groupLastName'>{{allPlayers[match.player1.playerListIdx].last_name}}</span>
                                        <span class='groupFirstName'>{{allPlayers[match.player1.playerListIdx].first_name}}</span>
                                    </ng-template>
                                </div>
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[0].p1"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})"
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 0, 0, (rounds.length-c)*1000 + m*10 + 1)"
                                    placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 0"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>

                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[1].p1"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 2"
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 1, 0, (rounds.length-c)*1000 + m*10 + 3)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[2].p1"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 4"
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 2, 0, (rounds.length-c)*1000 + m*10 + 5)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set third-set" [class.dontshow]="match.score[3].p1 === 0 && match.score[3].p2 === 0" type="number"
                                    min='0' max='99' maxlength="2" [(ngModel)]="match.score[3].p1" (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder=""
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 3, 0, (rounds.length-c)*1000 + m*10 + 7)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}" [tabindex]="(rounds.length-c)*1000 + m*10 + 6">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set third-set" [class.dontshow]="match.score[4].p1 === 0 && match.score[4].p2 === 0" type="number"
                                    min='0' max='99' maxlength="2" [(ngModel)]="match.score[4].p1" (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder=""
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 4, 0, (rounds.length-c)*1000 + m*10 + 9)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}" [tabindex]="(rounds.length-c)*1000 + m*10 + 8">
                            </td>
                            <td class="singlegroupmatch-sum">{{calculateSum(match).p1}}</td>
                        </tr>
                        <tr class='singlegroupmatch-row'>
                            <td class="singlegroupmatch-player">
                                <div class='groupNames'>
                                    <span *ngIf="match.player2.bye === true" class='groupLastName'>&lt;Freilos&gt;</span>
                                    <span *ngIf="match.player2.bye !== true">
                                        <span class='groupLastName'>{{allPlayers[match.player2.playerListIdx].last_name}}</span>
                                        <span class='groupFirstName'>{{allPlayers[match.player2.playerListIdx].first_name}}</span>
                                    </span>
                                </div>
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[0].p2"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 1"
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 0, 1, (rounds.length-c)*1000 + m*10 + 2)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[1].p2"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 3"
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 1, 1, (rounds.length-c)*1000 + m*10 + 4)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[2].p2"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 5"
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 2, 1, (rounds.length-c)*1000 + m*10 + 6)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set third-set" [class.dontshow]="match.score[3].p1 === 0 && match.score[3].p2 === 0" type="number"
                                    min='0' max='99' maxlength="2" [(ngModel)]="match.score[3].p2" (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder=""
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 3, 1, (rounds.length-c)*1000 + m*10 + 8)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}" [tabindex]="(rounds.length-c)*1000 + m*10 + 7">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input #minp class="singlegroupmatch-set third-set" [class.dontshow]="match.score[4].p1 === 0 && match.score[4].p2 === 0" type="number"
                                    min='0' max='99' maxlength="2" [(ngModel)]="match.score[4].p2" (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder=""
                                    (blur)="hideQuickInput()"
                                    (focus)="!getReadOnly(match) && showQuickInput(rounds.length-c-1, match, 4, 1, -1)"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}" [tabindex]="(rounds.length-c)*1000 + m*10 + 9">
                            </td>
                            <td class="singlegroupmatch-sum">{{calculateSum(match).p2}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="noborders">
                                <mat-checkbox class="smallcheckbox" name="draw-{{rounds.length-c-1}}-{{m}}"
                                    [class.hidden]="!allZeroes(match) || getReadOnly(match)"
                                    [(ngModel)]="isdraw[rounds.length-c-1][m]" (change)="isdrawChanged(isdraw[rounds.length-c-1][m], match)">Nicht gespielt</mat-checkbox>
                            </td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="c === 0">
                    <h4>Übersicht</h4>
                    <div *ngFor="let match of round.matches; let m=index">
                        <div [ngStyle]="{'color': hasPlayed(allPlayers[match.player1.playerListIdx]) ? 'darkgreen' : 'black'}">
                            <span>{{allPlayers[match.player1.playerListIdx].last_name}}</span>&nbsp;<span>{{allPlayers[match.player1.playerListIdx].first_name}}</span>&nbsp;-&nbsp;<span>{{allPlayers[match.player2.playerListIdx].last_name}}</span>&nbsp;<span>{{allPlayers[match.player2.playerListIdx].first_name}}</span><br />
                        </div>

                        <!-- <div *ngIf="(c === 0) && hasPlayed(allPlayers[match.player1.playerListIdx]);else notplayed" style="color: darkgreen">
                            <span>{{allPlayers[match.player1.playerListIdx].last_name}}</span>
                            <span>{{allPlayers[match.player1.playerListIdx].first_name}}</span>&nbsp;-&nbsp;
                            <span>{{allPlayers[match.player2.playerListIdx].last_name}}</span>
                            <span>{{allPlayers[match.player2.playerListIdx].first_name}}</span><br/>
                        </div>
                        <ng-template #notplayed>
                            <span>{{allPlayers[match.player1.playerListIdx].last_name}}</span>
                            <span>{{allPlayers[match.player1.playerListIdx].first_name}}</span>&nbsp;-&nbsp;
                            <span>{{allPlayers[match.player2.playerListIdx].last_name}}</span>
                            <span>{{allPlayers[match.player2.playerListIdx].first_name}}</span><br/>
                        </ng-template> -->
                    </div>
                </div>

                <div *ngIf="canSendEmail() && c === 0" style="margin-top: 25px">
                    <form name="sendemail" (ngSubmit)="g.form.valid && sendEmailToAll()" #g="ngForm" novalidate>
                        <mat-form-field class="full-width">
                            <label for="subject">EMail Betreff</label>
                            <input class="email" matInput type='text' [(ngModel)]='subject' id="subject" name="subject">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <label for="email">Email Inhalt</label>
                            <textarea class="email" matInput matTextareaAutosize type='text' [(ngModel)]='emailToAll' id="email" name="email" style="min-height: 200px;">
                            </textarea>
                        </mat-form-field>
                        <button style="margin-bottom: 50px;" type="submit" mat-raised-button>
                            Email an alle Teilnehmer senden
                        </button>
                    </form>
                </div>

                <!-- only allow removing the last round if no freilos bc these would not be reset and no match has been played -->
                <mat-action-row *ngIf="c === 0 && allPlayers.length % 2 === 0 && playedCurrentRound.length === 0 && isAdmin()">
                    <button mat-raised-button (click)="removeRound(rounds.length-c-1)">
                        <mat-icon>delete</mat-icon>Runde entfernen
                    </button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>

    <mat-tab label="Spielstand">
        <span *ngIf="allPlayers && allPlayers.length > 0">
            <table mat-table [dataSource]="rankingTableSource" class="mat-elevation-z8" style="margin-top: 20px; margin-bottom: 30px">
                <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef>Platz</th>
                    <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.hasPlayed ? 'darkgreen' : 'black'}"> {{element.rank}} </td>
                </ng-container>

                <ng-container matColumnDef="points">
                    <th mat-header-cell *matHeaderCellDef>Punkte</th>
                    <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.hasPlayed ? 'darkgreen' : 'black'}"> {{element.points}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.hasPlayed ? 'darkgreen' : 'black'}"> {{element.first_name}} {{element.last_name}} </td>
                </ng-container>

                <ng-container matColumnDef="directGamesWon">
                    <th mat-header-cell *matHeaderCellDef style="color:darkgreen">direkte Begegnungen<br />gewonnen</th>
                    <td mat-cell *matCellDef="let element" class="calc-string" style="text-align: center;"> {{element.calc ? element.calc.directGamesWon : ''}} </td>
                </ng-container>
                <ng-container matColumnDef="overallGamesWon">
                    <th mat-header-cell *matHeaderCellDef style="color:darkgreen">Begegnungen<br />gewonnen</th>
                    <td mat-cell *matCellDef="let element" class="calc-string" style="text-align: center;"> {{element.calc ? element.calc.overallGamesWon : ''}} </td>
                </ng-container>
                <ng-container matColumnDef="overallGamesLost">
                    <th mat-header-cell *matHeaderCellDef style="color:darkred">Begegnungen<br />verloren</th>
                    <td mat-cell *matCellDef="let element" class="calc-string" style="text-align: center;"> {{element.calc ? element.calc.overallGamesLost : ''}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="overallSetsWon">
                    <th mat-header-cell *matHeaderCellDef>Sätze<br/>gewonnen</th>
                    <td mat-cell *matCellDef="let element" class="calc-string" style="text-align: center;"> {{element.calc ? element.calc.overallSetsWon : ''}} </td>
                </ng-container> -->
                <ng-container matColumnDef="overallSetsLost">
                    <th mat-header-cell *matHeaderCellDef style="color:darkred">Sätze<br />verloren</th>
                    <td mat-cell *matCellDef="let element" class="calc-string" style="text-align: center;"> {{element.calc ? element.calc.overallSetsLost : ''}} </td>
                </ng-container>
                <ng-container matColumnDef="overallPointsWon">
                    <th mat-header-cell *matHeaderCellDef style="color:darkgreen">Punkte<br />gewonnen</th>
                    <td mat-cell *matCellDef="let element" class="calc-string" style="text-align: center;"> {{element.calc ? element.calc.overallPointsWon : ''}} </td>
                </ng-container>
                <ng-container matColumnDef="overallPointsLost">
                    <th mat-header-cell *matHeaderCellDef style="color:darkred">Punkte<br />verloren</th>
                    <td mat-cell *matCellDef="let element" class="calc-string" style="text-align: center;"> {{element.calc ? element.calc.overallPointsLost : ''}} </td>
                </ng-container>

                <ng-container matColumnDef="setsWon">
                    <th mat-header-cell *matHeaderCellDef style="color:darkgreen">Sätze gewonnen</th>
                    <td mat-cell *matCellDef="let element" class="calc-string"> {{element.calc ? element.calc.setsWon : ''}} </td>
                </ng-container>

                <ng-container matColumnDef="setsLost">
                    <th mat-header-cell *matHeaderCellDef style="color:darkred">Sätze verloren</th>
                    <td mat-cell *matCellDef="let element" class="calc-string"> {{element.calc ? element.calc.setsLost : ''}} </td>
                </ng-container>

                <ng-container matColumnDef="ptsRel">
                    <th mat-header-cell *matHeaderCellDef style="color:darkgreen">Punktedifferenz</th>
                    <td mat-cell *matCellDef="let element" class="calc-string"> {{element.calc ? element.calc.ptsRel : ''}} </td>
                </ng-container>

                <ng-container matColumnDef="ptsWon">
                    <th mat-header-cell *matHeaderCellDef style="color:darkgreen">Punkte gewonnen</th>
                    <td mat-cell *matCellDef="let element" class="calc-string"> {{element.calc ? element.calc.ptsWon : ''}} </td>
                </ng-container>

                <ng-container matColumnDef="ptsLost">
                    <th mat-header-cell *matHeaderCellDef style="color:darkred">Punkte verloren</th>
                    <td mat-cell *matCellDef="let element" class="calc-string"> {{element.calc ? element.calc.ptsLost : ''}} </td>
                </ng-container>

                <ng-container matColumnDef="placeholder">
                    <th colspan="3" mat-header-cell *matHeaderCellDef></th>
                </ng-container>
                <ng-container matColumnDef="thisroundheader">
                    <th colspan="5" style="text-align: center; vertical-align: bottom;" mat-header-cell *matHeaderCellDef>
                        <ng-container *ngIf="!isFinalRound">Diese Runde:</ng-container>
                        <ng-container *ngIf="isFinalRound"><b>In allen Runden:</b></ng-container>
                    </th>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['placeholder', 'thisroundheader']" style="border-bottom-style: hidden; height: 30px;"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 25px;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color': (row.group % 2) === 0 ? 'aliceblue' : 'none'}"></tr>
            </table>

            <!-- <div *ngFor="let player of getRanking()">
                <div>
                    <div [ngStyle]="{'color': player.hasPlayed ? 'darkgreen' : 'black'}">Platz {{player.rank | number:'2.0-0'}}: {{player.points | number:'2.0-0'}} Punkte: {{player.first_name}} {{player.last_name}}</div>
                    <div class="calc-string">({{player.calcString}})</div>
                </div>
            </div> -->
        </span>
    </mat-tab>
</mat-tab-group>