tr td input.singlegroupmatch-set:not(.isreadonly) {
    background-color: yellow;
}
tr td input.singlegroupmatch-set:not(.isreadonly) {
    background-color: yellow;
}

mat-expansion-panel-header[collapsedHeight="auto"]:not(.mat-expanded) {
    padding:10px;
}
mat-expansion-panel-header[collapsedHeight="auto"].mat-expanded {
    min-height:48px;
}

table.unfinished input {
    color: red;
}
table:not(.unfinished) input.third-set.dontshow, .hidden {
    display: none;
}
table .mat-mdc-header-cell {
    text-align: center;
}

mat-panel-description span {
    padding-right: 5px;
}

.singlegroupmatch {
    border-collapse: collapse;
    margin-bottom: 12px;
    margin-right: 20px;
}

.singlegroupmatch-set{
    text-align:center;
    min-width: 15px;
}

.email {
    background-color: lightgrey;
}

mat-form-field.full-width {
    width: 100%;
}
textarea {
    width: 100%;
}

input, table tr td.noborders {
    border: none;
}

/* input[type='number']:not(:-moz-read-only) {
    background-color: yellow;
}
input[type='number']:not(:read-only) {
    background-color: yellow;
}
 */

.singlegroupmatch-sum{
    text-align:center;
    min-width: 15px;
}

.singlegroupmatch th{
    text-align:center;
}

.singlegroupmatch td{
    border: 1px solid black
}

.singlegroupmatch-player{
    width:100px;
}


.groupmatchesoverview{
    border-collapse: collapse;
    margin-bottom: 20px;
    clear: both;
}

.groupmatchesoverview td {
    /* text-align:center; */
    width:100px;
}

mat-expansion-panel-header[collapsedHeight="auto"]:not(.mat-expanded) {
    padding:10px;
}
mat-expansion-panel-header[collapsedHeight="auto"].mat-expanded {
    min-height:48px;
}

.groupNames {
    position: relative;
    min-height: 30px;
    line-height: 1.7;
}
.groupFirstName {
    font-size: 70%;
    position: absolute;
    left: 0;
    top: 15px;
}

/* no Spinner next to number input field */
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
    max-width: 30px;
    width: 24px;
    padding: 0;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
td.singlegroupmatch-set {
    max-width: 30px;
}

#from, #to {
    width: 100px;
}
/* .smallcheckbox {
    font-size: 70%;
} */
/* .smallcheckbox label.mat-checkbox-layout {
    transform: scale(0.5);
} */

.calc-string {
    padding-left: 30px;
    font-size: 80%;
}
tr th.mat-mdc-header-cell {
    padding-right: 5px;
}

.checkbox-final {
    align-self: center;
}