<h2 i18n="register, register header@@register header">Register</h2>

<div *ngIf="successfullyRegistered">
    <span i18n="register, go to login page@@You can now login here">You can now login here</span>:
    <a class="login" routerLink="/login" routerLinkActive="active" i18n="toolbar, login@@login">Login</a>
</div>

<ng-container *ngIf="!successfullyRegistered">
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="register, last name@@last name" matInput
                    placeholder="Last Name" name="lastName"
                    [(ngModel)]="model.last_name" #lastName="ngModel" required (input)="nameChanged()">
            </mat-form-field>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="register, first name@@first name" matInput
                    placeholder="First Name" name="firstName"
                    [(ngModel)]="model.first_name" #firstName="ngModel" required (input)="nameChanged()">
            </mat-form-field>
        </div>

        <button [disabled]="loading || !(model.last_name?.length > 2)" (click)="searchPlayers()"
            mat-raised-button i18n="register, search button@@Search" style="margin-bottom: 15px;">Search</button>
        <mat-spinner *ngIf="searching" [diameter]="15" [strokeWidth]="1"></mat-spinner>


        <div *ngIf="!loading && searched && !proposedPlayers?.length" style="margin-top: 15px;" class="error-text">
            <p i18n="register, player not found@@player not found">
                You need to be registered at Tournament Software. If you are new, please ask your club admin to make an account at https://ico.tournamentsoftware.com
            </p>
        </div>
        <div *ngIf="!loading && selectedPlayer" style="margin-bottom: 30px;">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <mat-form-field class="form-group">
                    <input i18n-placeholder="register, email@@Email" matInput type="email"
                        placeholder="Email" name="email" required email
                        [(ngModel)]="model.email" #email="ngModel" autocomplete="email username">
                </mat-form-field>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <mat-form-field class="form-group">
                    <input i18n-placeholder="register, password@@password" matInput type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required autocomplete="new-password">
                </mat-form-field>
            </div>

            <div class="select-form-group" style="margin-bottom: 10px;">
                <mat-checkbox i18n="register, accept the privacy conditions checkbox@@accept privacy" name="privacy"
                    [(ngModel)]="acceptPrivacy" color="primary">
                    I have read and accept the conditions described in the <a routerLink="/privacy" routerLinkActive="active">Datenschutzerklärung</a>
                </mat-checkbox>
            </div>

            <div class="form-group">
                <button [disabled]="loading || !acceptPrivacy || !f.form.valid" mat-raised-button i18n="register, register button@@register button">Register</button>
                <mat-spinner *ngIf="loading" [diameter]="15" [strokeWidth]="1"></mat-spinner>
                <a [routerLink]="['/login']" class="cancelButton" i18n="register, cancel registration goto login button@@cancel">Cancel</a>
            </div>
        </div>

        <div *ngIf=proposedPlayers.length>
            <h3 i18n="register, select one of existing profiles@@Please select your identity">Please select your identity</h3>
            <mat-radio-group class="radio-group" disableRipple="false" color="primary">
                <mat-radio-button *ngFor="let player of proposedPlayers, let idx = index" class="radio-button"
                    (click)="onSelectPlayer(idx)" [value]="player">
                    {{player.name}}<ng-container *ngIf="player.club">,</ng-container> {{player.club}} ({{player.tsId}})
                </mat-radio-button>
            </mat-radio-group>
        </div>

    </form>
</ng-container>

<div class="enlargepage">&nbsp;</div>