<div>
    <h2>Register WITHOUT TournamentSoftware identity - not recommended!</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="@@first name" matInput placeholder="First Name" name="firstName" [(ngModel)]="model.first_name" #firstName="ngModel"
                    required>
            </mat-form-field>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="@@last name" matInput placeholder="Last Name" name="lastName" [(ngModel)]="model.last_name" #lastName="ngModel"
                    required style="text-transform: uppercase">
            </mat-form-field>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="@@Email" matInput type="email" placeholder="Email" name="email" [(ngModel)]="model.email"
                    #email="ngModel" required email>
            </mat-form-field>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="@@username" matInput placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel"
                    required>
            </mat-form-field>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="@@password" matInput type="password" placeholder="Password" name="password" [(ngModel)]="model.password"
                    #password="ngModel" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label style="min-width: 100px;line-height: 51px;">Date of birth</label>
            <mat-form-field class="form-group" style="max-width: 40px;min-width: 40px;">
                <input i18n-placeholder="@@date_of_birth_day" matInput type="number" min="1" max="31" placeholder="DD" name="day" [(ngModel)]="model.date_of_birth_day"
                    required>
            </mat-form-field>
            <mat-form-field class="form-group" style="max-width: 50px;min-width: 50px;">
                <input i18n-placeholder="@@date_of_birth_month" matInput type="number" min="1" max="12" placeholder="MM" name="month" [(ngModel)]="model.date_of_birth_month"
                    required>
            </mat-form-field>
            <mat-form-field class="form-group" style="max-width: 60px;min-width: 60px;">
                <input i18n-placeholder="@@date_of_birth_year" matInput type="number" min="1900" max="2200" placeholder="YYYY" name="year" [(ngModel)]="model.date_of_birth_year"
                    required>
            </mat-form-field>
        </div>

        <div class="select-form-group" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
            <mat-form-field class="select-form-group">
                <mat-select i18n-placeholder="@@gender" [compareWith]="compareFn" placeholder="Gender" name="gender" [(ngModel)]="model.gender"
                    #gender="ngModel" required>
                    <mat-option value=2>Male</mat-option>
                    <mat-option value=1>Female</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="select-form-group">
            <mat-form-field class="select-form-group">
                <mat-select i18n-placeholder="@@nation" placeholder="Nation" name="nation" [(ngModel)]="model.nation" #nationselect #nation="ngModel" multiple
                    required>
                    <button mat-raised-button class="closeButton fill text-sm" (click)="closeMatSelect(nationselect)">Close</button>
                    <mat-option *ngFor="let option of options[1]" value="{{option._id}}">{{option.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="select-form-group">
            <mat-form-field class="select-form-group">
                <mat-select i18n-placeholder="@@club" placeholder="Club" name="clubs" [(ngModel)]="model.clubs" #clubselect #club="ngModel" multiple
                    required>
                    <button mat-raised-button class="closeButton fill text-sm" (click)="closeMatSelect(clubselect)">Close</button>
                    <mat-option *ngFor="let option of options[0]" value="{{option._id}}">{{option.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="select-form-group">
            <mat-form-field class="select-form-group">
                <mat-select i18n-placeholder="@@handedness" [compareWith]="compareFn" placeholder="Handedness" name="handedness" [(ngModel)]="model.handedness"
                    #handedness="ngModel">
                    <mat-option value="1">Right</mat-option>
                    <mat-option value="2">Left</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button [disabled]="loading" mat-raised-button i18n="register, register button@@register">Register</button>
            <mat-spinner *ngIf="loading" class="smallspinner" [diameter]="15" [strokeWidth]="1"></mat-spinner>
            <a [routerLink]="['/login']" mat-raised-button>
                <mat-icon>cancel_presentation</mat-icon>
            </a>
        </div>
    </form>
    <div class="enlargepage">&nbsp;</div>
</div>