.items li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

  /*
  .select-form-group {
    width: 120px;
    margin-bottom: 20px;
    
}
*/
label {
    font-weight: lighter;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.54);
}
button.closeButton {
    float: right;
}
