<h1 mat-dialog-title i18n="dialog, choose partner@@choose partner">Choose partner for {{data.forPlayer}} in {{data.catName}}</h1>
<mat-dialog-content>
    <mat-form-field *ngIf="data.players && data.players.length > 0; else noplayers">
        <mat-select placeholder="Select Players" name="selectPlayers" [(ngModel)]="data.partner" #theselect #myselect="ngModel" [required]="true">
            <button mat-raised-button class="closeButton fill text-sm" (click)="closeMatSelect(theselect)">Close</button>
            <mat-option *ngFor="let player of data.players" [value]="player._id">
                {{player.last_name}} {{player.first_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-template #noplayers>
        <p i18n="dialog, no potential partners available@@on partners available">No players available</p>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="undefined" i18n="dialog, choose no partner button@@choose no partner">No partner</button>
    <button mat-raised-button type="button" [mat-dialog-close]="data.partner" i18n="dialog, save button@@save">Save</button>
    <button *ngIf="data.showRemoveButton" style="margin-left: auto;" mat-raised-button type="button" [mat-dialog-close]="'remove'" i18n="dialog, remove partner@@remove partner">Remove Player</button>
</mat-dialog-actions>