mat-form-field {
    width: 100%;
}
div.ng-trigger.mat-mdc-select-panel {
    max-width: 270px;
}
.smallfontentry {
    font-size: 70%;
}
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-actions {
    padding-top: 100px;
}
button.closeButton {
    float: right;
}
