<mat-spinner *ngIf="!tournaments" class="smallspinner" [diameter]="15" [strokeWidth]="1"></mat-spinner>

<p *ngIf="tournaments && tournaments.length == 0" i18n="enroll, no tournament found@@no upcoming tournament found">No upcoming tournaments found</p>

<div *ngIf="tournaments && tournaments.length > 0">
    <h2 *ngIf="!one" i18n="enroll, list tournaments in which user can enroll header@@upcoming tournaments">Upcoming Tournaments</h2>

    <mat-expansion-panel *ngFor="let tournament of tournaments; let tIdx=index" [expanded]="tIdx==0">
        <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
            <mat-panel-title>
                <b>{{tournament.title}}</b>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="tournament.start_date">{{tournament.start_date}}</span>&nbsp;
                <span *ngIf="tournament.location">{{tournament.location}}</span>&nbsp;
                <span *ngIf="tournament.nation">{{tournament.nation}}</span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-spinner *ngIf="updating || !enrollments || !enrollments[tIdx]" class="smallspinner" [diameter]="15" [strokeWidth]="1"></mat-spinner>

        <span *ngFor="let cat of enrollments[tIdx]; let cIdx=index">
            <b *ngIf="cat?.catName">{{cat.catName}}</b>
            <span *ngIf="cat?.players?.length">
                <ng-template [ngIf]="mobileQuery.matches">
                    <mat-table style="width:100%" [dataSource]="cat.players">
                        <ng-container matColumnDef="number">
                            <mat-header-cell style="max-width:30px" *matHeaderCellDef i18n="enroll, abbreviated number table header@@Nr.">Nr.</mat-header-cell>
                            <mat-cell style="max-width:30px" *matCellDef="let player; let i=index">
                                <span *ngIf="player.partner && ((i+1) % 2 === 0)">{{(i+1) / 2}}</span>
                                <span *ngIf="player.partner && ((i+1) % 2 === 1)">{{Math.round((i+1) / 2)}}</span>
                                <span *ngIf="!player.partner">{{i+1}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="player">
                            <mat-header-cell *matHeaderCellDef i18n="enroll, player table header@@player">Player</mat-header-cell>
                            <mat-cell *matCellDef="let player">{{player.last_name}} {{player.first_name}}
                                <br /> {{player.club}}, {{player.nation}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="rank">
                            <mat-header-cell style="max-width:30px" *matHeaderCellDef i18n="enroll, rank table header@@rank">Rank</mat-header-cell>
                            <mat-cell style="max-width:30px" *matCellDef="let player"><span *ngIf="player.rank > 0">{{player.rank}}</span></mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="smallDisplayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let myRowData; columns: smallDisplayedColumns; let data; let i=index"
                            [ngClass]="{'markHasPartner1': data.partner && Math.round((i+1) / 2) % 2 === 0,
                                        'markHasPartner2': data.partner && Math.round((i+1) / 2) % 2 === 1}"
                            (click)="click(data, cat, tIdx, cIdx)">
                        </mat-row>
                    </mat-table>
                </ng-template>
                <ng-template [ngIf]="!mobileQuery.matches">
                    <mat-table style="width:100%" [dataSource]="cat.players">
                        <ng-container matColumnDef="number">
                            <mat-header-cell style="max-width:30px" *matHeaderCellDef i18n="enroll, abbreviated number table header@@Nr.">Nr.</mat-header-cell>
                            <mat-cell style="max-width:30px" *matCellDef="let player; let i=index">
                                <span *ngIf="player.partner && ((i+1) % 2 === 0)">{{(i+1) / 2}}</span>
                                <span *ngIf="player.partner && ((i+1) % 2 === 1)">{{Math.round((i+1) / 2)}}</span>
                                <span *ngIf="!player.partner">{{i+1}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef i18n="enroll, name table header@@name">Name</mat-header-cell>
                            <mat-cell *matCellDef="let player">{{player.last_name}} {{player.first_name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="club">
                            <mat-header-cell *matHeaderCellDef i18n="enroll, club table header@@club">Club</mat-header-cell>
                            <mat-cell *matCellDef="let player">{{player.club && player.club[0]?.name ? player.club[0].name : player.club}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nation">
                            <mat-header-cell style="max-width:70px" *matHeaderCellDef i18n="enroll, nation table header@@nation">Nation</mat-header-cell>
                            <mat-cell style="max-width:50px" *matCellDef="let player">{{player.nation}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="rank">
                            <mat-header-cell style="max-width:50px" *matHeaderCellDef i18n="enroll, rank table header@@rank">Rank</mat-header-cell>
                            <mat-cell style="max-width:50px" *matCellDef="let player"><span *ngIf="player.rank > 0">{{player.rank}}</span></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="points">
                            <mat-header-cell style="max-width:55px" *matHeaderCellDef i18n="Points@@Points">Points</mat-header-cell>
                            <mat-cell style="max-width:55px" *matCellDef="let player"><span *ngIf="player.points > 0">{{player.points}}</span></mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let myRowData; columns: displayedColumns; let data; let i=index"
                            [ngClass]="{'markHasPartner1': data.partner && Math.round((i+1) / 2) % 2 === 0,
                                        'markHasPartner2': data.partner && Math.round((i+1) / 2) % 2 === 1}"
                            (click)="click(data, cat, tIdx, cIdx)">
                        </mat-row>
                    </mat-table>
                </ng-template>
            </span>
            <span *ngIf="!cat || !cat.players || cat.players.length == 0">
                <p>
                    <i i18n="enroll, no one registered@@no one registered">No one registered yet</i>
                </p>
            </span>
            <mat-action-row>
                <button [disabled]="afterDeadline(tournament)" mat-raised-button class="lowprio" color="primary" (click)="addOthers(tIdx, cat, cIdx)" i18n="enroll, enroll or unenroll other players button@@enroll others">Enroll Others</button>
                <span *ngIf="cat.myPlayerFits">
                    <button [disabled]="afterDeadline(tournament)" *ngIf="amEnrolled(tIdx, cat.catName); else notenrolled" mat-raised-button color="primary" (click)="removeMe(tIdx, cat)"
                        i18n="enroll, remove myself from the tournament button@@remove me">Remove Me</button>
                    <ng-template #notenrolled>
                        <button [disabled]="afterDeadline(tournament)" mat-raised-button color="primary" (click)="addMe(tIdx, cat)"
                            i18n="enroll, enroll myself to the tournament button@@enroll me">Enroll Me</button>
                    </ng-template>
                </span>
            </mat-action-row>
            <hr>
        </span>
    </mat-expansion-panel>
</div>