mat-table mat-row {
    min-height: 25px;
}
mat-row:nth-child(odd){
    background-color: lightyellow;
}
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-table {
    padding-top: 5px;
    padding-bottom: 15px;
}
.mat-mdc-header-row {
    min-height: 0;
}
mat-action-row {
    border-top-style: none;
}
mat-expansion-panel-header[collapsedHeight="auto"]:not(.mat-expanded) {
    padding:10px;
}
mat-expansion-panel-header[collapsedHeight="auto"].mat-expanded {
    padding-bottom: 10px;
    padding-top: 10px;
}
/* button.lowprio {
    background-color: rgba(0, 0, 0, 0);
} */

mat-table mat-cell:first-child, mat-table mat-footer-cell:first-child, mat-table mat-header-cell:first-child {
    padding-left: 5px;
}
