<h3>Für Spieler / Teilnehmer</h3>

<p>Aktuell richtet sich das Angebot hauptsächlich auf Turnierausrichter aus. Anmeldungen zu Turnieren bitte über <a href="https://ico.tournamentsoftware.com/" target="_blank" rel="noopener">TournamentSoftware</a>.</p>


<h2>Für Turnierorganisatoren</h2>

<p>ACHTUNG: ICO Turniere sollen wohl über TournamentSoftware ausgeführt werden. Allerdings kann ein durchgeführtes Crossy-Turnier auch nachträglich in den Tournament Planner reingeladen werden. Dafür kurz <a [href]="'mailto:crossy@paul-holleis.de'">crossy@paul-holleis.de</a> kontaktieren.</p>

<p>Es wird die Verwendung einer aktuellen Version des Chrome Browsers empfohlen. <a href="https://www.google.com/chrome/" target="_blank" rel="noopener">Download</a></p>

<h1>Genereller Ablauf</h1>

<h4>Vor dem Turnier (benötigt Internetverbindung)</h4>
<ol>
    <li>Sich selber bei Crossy registrieren und einloggen</li>
    <li>"Organisieren" -> "Turnier erstellen" und Daten eingeben</li>
    <li>Nach Anmeldeschluss: <b>"Registrierungen von TS laden"</b></li>
    <li>Auslosung erstellen: "NEUE Auslosung"</li>
    <li>Spielliste für die Planung: "Zeige alle Spiele"</li>
    <li>Link zur Auslosung teilen</li>
    <li>Scoresheets ausdrucken</li>
</ol>

<h4>Während des Turniers</h4>
<ol>
    <li>"AKTUELLE Auslosung" öffnen (benötigt einmal Internetverbindung)</li>
    <li>Schnelle Punkteingabe auf einer Seite über "Punkte eingeben"</li>
</ol>
<p>Sobald eine Internetverbindung verfügbar ist und man eine weitere Änderung macht, werden die Ergebnisse online gespeichert und können übers Netz gesehen werden.</p>

<h4>Nach dem Turnier</h4>
<ol>
    <li>Bei "Ergebnisse" auf "Ergebnisse aktualisieren"</li>
    <li>Wenn diese stimmen, dem DCV Bescheid sagen, der die dann in die Ranglisten übertragen wird.</li>
</ol>



<h1>Ausführliche Anleitung</h1>

<h2>Vor dem Turnier (benötigt Internetverbindung)</h2>

<h4>Sich selber bei Crossy registrieren und einloggen</h4>

<p>Rechts oben unter "Registrieren" kann man sich anmelden (<a [routerLink]="['/register']" routerLinkActive="router-link-active">Registrieren</a>)</p>
<p>Wichtig dabei ist, dass man bei TournamentSoftware angemeldet sein muss, damit die Verknüpfung zum dortigen Profil hergestellt werden kann.</p>
<p>Sobald man seinen Namen eingibt, erscheint eine Auswahl an Spielern. Hier wählt man den richtigen aus und vervollständigt die Daten.</p>
<div class="centerit"><img class="main-image" src="assets/doc/register.png"></div>
<p>Sollte der Spieler unter dem Namen nicht erscheinen, sicherstellen, dass man über den Zuständigen für TournamentSoftware des eigenen Vereins bei TournamentSoftware angemeldet wurde. Wenn das so ist, bitte eine kurze Email an <a [href]="'mailto:crossy@paul-holleis.de'">crossy@paul-holleis.de</a></p>

<h4>Turnier erstellen</h4>

<p>Im Menü (links) auf "Organisieren" und dann "Turnier erstellen" klicken.</p>
<div class="centerit"><img class="main-image" src="assets/doc/create_createTournament.png"></div>

<p>Die Daten entsprechend eingeben.</p>
<ul>
    <li>Aufpassen, dass "Verband", "Turniertyp", und "Kategorien" zusammenpassen (DCV oder ICO)</li>
    <li>TournamentSoftware IDs: Einmal nach dem Turnier suchen auf <a href="https://ico.tournamentsoftware.com/tournaments" target="_blank" rel="noopener">Turniere</a>. Auf das Turnier klicken, dann auf "Bewerbe"/"Events" klicken. Dann die lange ID hinter dem "id=" in der Browser-Adresszeile kopieren und einfügen. Zum Beispiel "8ed9e340-27de-403e-b342-96bf1a396c7f" (Groß/Kleinschreibung ist egal).</li>
</ul>
<div class="centerit"><img class="main-image" width="500px" src="assets/doc/create_createButton.png"></div>

<p>Unten kann man noch in beliebigem Format weitere Informationen angeben oder aus der Ausschreibung kopieren.</p>
<p>Dann den "Erstellen" Button drücken.</p>

<p>Sollten Informationen nachträglich verändert werden müssen, beim entsprechenden Turnier auf den "Stift" klicken.</p>
<div class="centerit"><img class="main-image" width="500px" src="assets/doc/create_buttons2.png"></div>

<h4>Nach Anmeldeschluss: "Registrierungen von TS laden"</h4>
<p>Über den Link "Registrierungen" kann man Spieler einzeln zufügen oder entfernen. Stimmt die Liste allerdings nicht mit den Anmeldungen in TournamentSoftware überein, gibt es nachher evtl. Probleme bei der Vergabe der Ranglistenpunkte.</p>

<p><b>Achtung: </b>hier bitte kurz prüfen, ob (zumindest die Anzahl der) Spieler alle richtig zugefügt wurden.</p>

<p><b>Achtung: </b>und gegenchecken, ob die Ranglistenreihenfolge stimmt (<a href="/ranking" rel="noopener">DCV Rangliste</a>).</p>

<p>Falls etwas nicht stimmt, kurze Nachricht an <a [href]="'mailto:crossy@paul-holleis.de'">crossy@paul-holleis.de</a>.</p>

<p>Einfacher allerdings: Über den Knopf "Registrierungen von TS laden" können die registrierten Spieler automatisch von TournamentSoftware importiert werden (wenn die Turnier ID eingegeben wurde, siehe oben).</p>
<div class="centerit"><img class="main-image" width="500px" src="assets/doc/importplayers.png"></div>

<h4>Auslosung erstellen: "NEUE Auslosung"</h4>
<p>Sobald der Anmeldeschluss und die Seeding Deadline vorbei sind (oder vorher mal probeweise), kann die Auslosung gemacht werden ("NEUE Auslosung")</p>
<div class="centerit"><img class="main-image" src="assets/doc/create_buttons1.png"></div>
<p>Bevor die Auslosung gemacht wird, werden ein paar Einstellungen abgefragt:</p>
<ul>
    <!-- <li>Mindestanzahl Spieler für die Erwachsenenkategorien</li> -->
    <li>Für welche Kategorien wird eine Gruppenphase gespielt (normalerweise mindestens die Einzelkategorien)</li>
    <li>Gegebenfalls ob der DCV A/B Modus gespielt werden soll (bei DCV Turnieren wird ab 16 Spielern in einer Kategorie ein A und ein B-Baum mit 3er Gruppen ausgespielt, siehe <a href="https://crossminton.de/downloads/" target="_blank" rel="noopener">DCV Downloads</a> Turnierschema</li>
</ul>

<div class="centerit"><img class="main-image" width="500px" src="assets/doc/drawoptions.png"></div>

<p>Sollte kurzfristig ein Fehler festgestellt werden, kann jemand vom DCV eine einzelne Kategorie neu auslosen über den "NEUE Auslosung" Link an der Kategorie.</p>

<p><b>Achtung:</b> Jede Auslosung muss vom ICO/DCV freigegeben werden. Sobald sie gemacht wurde, mindestens ein paar Tage vorher (siehe die ICO-Standards für das ausgerichtete Turnier unter <a href="https://crossminton.org/downloads/" target="_blank" rel="noopener">ICO Downloads</a>) an den ICO bzw. DCV schicken und auf Freigabe warten!</p>


<h4>Spielliste für die Planung: "Zeige alle Spiele"</h4>
<div class="centerit"><img class="main-image" width="500px" src="assets/doc/execute_links.png"></div>

<p>"Zeige alle Spiele" gibt eine Übersicht über alle Spiele des Turniers sortiert nach Kategorien. Alle gespielten Spiele werden in grün angezeigt.</p>


<h4>Link zur Auslosung teilen</h4>

<p>Die Auslosung kann man direkt als Link der Form https://crossy.paul-holleis.de/ko;id=5acb697f079dc321a0435a9e teilen. Andere Leute (auch ohne Crossy Account) können sie dann sehen - aber nur die eingetragenen Organisatoren können ändern.</p>
<p>Hübscher und besser ist allerdings:</p>
<p>Es macht Sinn, den Link durch einen URL Shortener zu jagen, zB <a href="https://bit.do" target="_blank" rel="noopener">bit.do</a>, dann kann man nachträglich noch den eigentlich Link ändern, ohne allen Leuten einen neuen schicken zu müssen. Außerdem ist der Link handlicher zum eingeben.</p>


<h4>Scoresheets ausdrucken</h4>

<p>Die Scoresheets in den die Zähler / Schiedsrichter die Ergebnisse eintragen können, können über "Scoresheets herunterladen" pro Kategorie als PDF gezogen werden.</p>


<h1>Während des Turniers</h1>

<h4>"AKTUELLE Auslosung" öffnen (benötigt einmal Internetverbindung)</h4>

<p>Die Auslosung öffnen, evtl. die Kategorien in mehrere Browser-Fenster oder Browser-Tabs.</p>

<p>Es werden alle Kategorien angezeigt. Man kann jede auch "In seperaten Tab öffnen" und sich die Scoresheets als PDF anzeigen lassen und ausdrucken.
    Durch Klicken auf den Kategorienamen oder in den Weißraum rechts daneben kann man die Kategorie öffnen oder schließen.
</p>
<p>In den Kategorien kann man umschalten zwischen "Gruppen", "KO"-Phase, einer Übersicht aller "Spieler" und die "Ergebnisse".</p>

<p>Die Gruppen sind mit Buchstaben A, B, ... benannt und können einzeln geöffnet und geschlossen werden. In der Titelzeile sieht man die Spieler in dieser Gruppe.</p>
<div class="centerit"><img class="main-image" src="assets/doc/execute_category.png"></div>

<p>In der KO-Ansicht ist in der ersten Ebene zu sehen, welcher Spieler aus welcher Gruppe wo gesetzt wird, siehe <a href="http://crossminton.de/downloads/" target="_blank" rel="noopener">DCV Downloads</a> Turnierschema</p>
<p>ANMERKUNG: es werden immer die aktuell führenden jeder Gruppe im KO angezeigt. Das sind zB am Anfang einfach die Gruppenköpfe!</p>

<!-- <p>In der Spielerliste sind die Spieler anhand ihrer Setzlistenpunkte sortiert.</p> -->

<p>Die Ergebnisse zeigen die Punkte, die für die jeweilige Rangliste gutgeschrieben werden.</p>


<h4>Ergebnisse eintragen</h4>

<p>Die Eingabe der Spielergebnisse und der Übergang von Gruppenphase zur KO-Phase funktioniert auch ohne eine aktive Internetverbindung. Allerdings werden die Ergebnisse dann natürlich auch nur lokal gespeichert und sind nicht für andere im Netz einsehbar.</p>
<p>Man kann zur Sicherheit alle Turnierdaten ab und zu lokal zwischenspeichern über "Backup erstellen".</p>

<p>Wenn man zumindest ab und zu Internet hat: es wird bei jeder Änderung oder Neueingabe versucht, alle Ergebnisse hochzuladen.</p>

<p>Wird ein Ergebnis erfolgreich online gespeichert, werden die Punkte in <span style="color: green;">grün</span> angezeigt.</p>
<p><span style="color: red;">Rote</span> Punkte bedeuten ein ungültiges oder unvollständiges Ergebnis.</p>


<h4>Schnelle Punkteingabe auf einer Seite über "Punkte eingeben"</h4>

<div class="centerit"><img class="main-image" src="assets/doc/execute_pointsentry.png"></div>

<p>Eventuell geht es schneller, die hereinkommenden Ergebnisse über die Seite "Punkte eingeben" einzutragen. Hier kann einfach nach dem Namen gesucht werden und man sieht gleich dessen Spiele, die noch nicht gespielt worden sind und man muss sich nicht durch alle Kategorien und Gruppen klicken.</p>


<h1>Nach dem Turnier</h1>

<h4>Bei "Ergebnisse" auf "Ergebnisse aktualisieren" klicken</h4>

<p>Der DCV kann dann per Knopdruck die Ergebnisse in die Ranglisten übertragen.</p>

<div class="enlargepage">&nbsp;</div>