.centerit {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
    margin-top: 60px;
}
h2 {
    margin-top: 40px;
}
h3 {
    margin-top: 30px;
}
h4 {
    margin-top: 20px;
}

.main-image {
    border-style: solid;
    border-color: black;
    border-width: thick;
}