<h1 mat-dialog-title>Eintrag ändern</h1>
<mat-dialog-content>

    <p>Anzahl der Spieler in der Kategorie: <input type="number" name="nrPlayers" [(ngModel)]="data.ranking.nrPlayers" (change)="rankChanged()" (input)="rankChanged()"></p>
    <p>Nach DCV A/B Modus gespielt: {{data.ranking.abPlayed ? 'Ja' : 'Nein'}}</p>
    <p>Alle Plätze ausgespielt: {{data.ranking.everyRank ? 'Ja' : 'Nein'}}</p>
    <p>Zwischen-Plätze ausgespielt: {{data.ranking.betweenRanks ? 'Ja' : 'Nein'}}</p>

    <form id="form" name="form" (ngSubmit)="save()" #f="ngForm">
        <mat-form-field>
            <input matInput type="number" placeholder="Punkte" name="points" [(ngModel)]="points">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Platz" name="rank" min="1" [(ngModel)]="rank" (change)="rankChanged()" (input)="rankChanged()">
        </mat-form-field><br />
        Vorschlag: {{suggestedPoints}} <button matButton (click)="useSuggestion()">Verwenden</button>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button type="button" mat-dialog-close>
        <mat-icon>cancel_presentation</mat-icon>
    </button>
    <button mat-raised-button form="form" ng-submit type="submit">
        <mat-icon>save_alt</mat-icon>
    </button>
</mat-dialog-actions>