<div *ngIf="rankings && rankings.length > 0; else loading">

    <ng-template #emptyTD>
        <td></td>
    </ng-template>

    <table>
        <tr *ngIf="rankingTable && rankingTable.length > 0">
            <ng-container *ngFor="let ranking of rankingTable; let rIdx=index">
                <td><b>{{catNames[rIdx].substring(9)}}</b></td>
                <td></td>
                <td></td>
            </ng-container>
        </tr>
        <ng-container *ngFor="let temp of getLargestRange(); let entryIdx = index">
            <tr *ngIf="rankingTable && rankingTable.length > 0">
                <ng-container *ngFor="let ranking of rankingTable; let rIdx=index">
                    <td *ngIf="ranking && ranking[entryIdx]; else emptyTD">{{ranking[entryIdx].totalrank}}</td>
                    <td *ngIf="ranking && ranking[entryIdx]; else emptyTD" class="rightborder">{{ranking[entryIdx].player.last_name}} {{ranking[entryIdx].player.first_name}}</td>
                    <td *ngIf="ranking && ranking[entryIdx]; else emptyTD">{{ranking[entryIdx].points}}</td>
                </ng-container>
            </tr>
        </ng-container>
    </table>

</div>

<ng-template #loading>
    <mat-spinner [diameter]="15" [strokeWidth]="1"></mat-spinner>
</ng-template>