<ng-template #loading>
    <mat-spinner diameter="20" style="margin: auto"></mat-spinner>
</ng-template>

<div class="linked-list">
    <a *ngFor="let theyear of [24, 23, 22, 21, 20, 19, 18]"
        mat-list-item class="cursor-pointer mat-mdc-list-item-interactive"
        routerLink="/dmquali"
        [queryParams]="{ year: '20' + theyear }"
        routerLinkActive="active"
        [ngClass]="{ 'highlight': year === 2000 + theyear }"
        [ngStyle]="{ 'padding': (isSmall$ | async) ? '0' : '0 16px' }">
        {{(isSmall$ | async) ? '\'' : '20'}}{{theyear}}
    </a>
</div>

<div *ngIf="rankings?.length; else loading">
    <!-- <mat-expansion-panel class="noprint" *ngFor="let ranking of rankings; let rIdx=index" [expanded]="rIdx === expanded" (opened)="expanded=rIdx">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b *ngIf="ranking">{{catNames[rIdx].substring(9)}}</b>
            </mat-panel-title>
            <mat-panel-description *ngIf="ranking">
                DM Quali-Rangliste ({{ranking.length}} Einträge)
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngIf="addMode !== rIdx && canAdd()">
            <h4>CSV Datei für Kategorie {{catNames[rIdx].substring(9)}} hochladen</h4>
            <form method='post' encType="multipart/form-data">
                <input type="text" name='tournament' placeholder="Tournament name" [(ngModel)]="uploadTournamentName">
                <input type="file" name='inputFile' (input)="uploadCSV($event, rIdx);this.value=null" placeholder="Upload CSV file" accept=".csv">
            </form>
            <h3>Einen einzelnen Eintrag zufügen</h3>
            <button [disabled]="!canAdd()" mat-raised-button color="primary" (click)="add(rIdx)">Eintrag zufügen</button>
        </div>

        <div *ngIf="addMode === rIdx">
            <form *ngIf="players && !waiting; else loading" class="add-form" name="form" (ngSubmit)="f.form.valid && addPoints(rIdx)" #f="ngForm">
                <mat-form-field>
                    <label>Spieler(in): </label>
                    <span class="input-wrapper">
                        <input #input matInput name="input" aria-label="Player" [matAutocomplete]="auto" [formControl]="playerCtrl">
                    </span>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let player of filteredPlayers | async" [value]="player.first_name + ' ' + player.last_name">{{player.first_name}} {{player.last_name}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-checkbox *ngIf="nrPlayers >= 16" matInput [(ngModel)]="abPlayed" name="abPlayed" (change)="rankchanged()">Nach DCV A/B Modus gespielt?</mat-checkbox>
                <br />
                <mat-form-field class="small">
                    <input matInput type="number" placeholder="Platz" name="rank" min="1" [max]="nrPlayers" [(ngModel)]="newRanking.rank" (change)="rankchanged()" (input)="rankchanged()">
                </mat-form-field>
                <mat-checkbox *ngIf="abPlayed" matInput [(ngModel)]="btree" name="isBTree" (change)="treeChanged()" tree>Platz im B-KO-Baum?</mat-checkbox>
                <br />
                <mat-form-field class="small">
                    <input matInput type="number" min="0" [placeholder]="'Anzahl Spieler in ' + catNames[rIdx].substring(14)" name="nrPlayers" [(ngModel)]="nrPlayers" (change)="rankchanged()" (input)="rankchanged()">
                </mat-form-field>
                <mat-checkbox matInput [(ngModel)]="everyRank" name="everyRank" (change)="rankchanged()">Alle Plätze ausgespielt?</mat-checkbox>
                <br />
                <mat-checkbox *ngIf="abPlayed && !everyRank && nrPlayers >= 16 && nrPlayers <= 23" matInput [(ngModel)]="betweenRanks" name="betweenRanks1" (change)="rankchanged()">Plätze 5/6 vs. 7/8 ausgespielt?</mat-checkbox>
                <mat-checkbox *ngIf="abPlayed && !everyRank && nrPlayers >= 24" matInput [(ngModel)]="betweenRanks" name="betweenRanks2" (change)="rankchanged()">Plätze 9-12 vs. 13-16 ausgespielt?</mat-checkbox>
                <br />
                <mat-form-field class="small">
                    <input matInput type="number" placeholder="Punkte" name="points" [(ngModel)]="newRanking.points">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Turnier" name="tournament" [(ngModel)]="newRanking.tournament">
                </mat-form-field>
                <mat-form-field class="small">
                    <input matInput type="date" placeholder="Datum" name="updated" [(ngModel)]="newRanking.updated">
                </mat-form-field>

                <div>
                    <button mat-raised-button color="primary" type="submit">Zufügen</button>
                    <button mat-raised-button type="button" (click)="cancel()">Abbrechen / Fertig</button>
                </div>
            </form>
        </div>
        <div *ngIf="ranking">
            <div *ngFor="let entry of ranking; let eIdx=index" (click)="unfold(eIdx)" [ngClass]="{ 'specialcursor2': isunfolded(eIdx), 'specialcursor': !isunfolded(eIdx) }">
                <div>
                    <b>{{entry.totalrank}}. {{entry.player.first_name}} {{entry.player.last_name}}</b>: {{entry.points}} Pkt.
                    <ul *ngIf="isunfolded(eIdx)">
                        <li *ngFor="let detail of entry.details; let e=index" [ngClass]="{pointsdontcount: entry.pointsdontcount[e] !== false}">{{detail}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </mat-expansion-panel> -->

    <p></p>
    <div>Die aktuelle Rangliste für die Qualifikation zur Deutschem Meisterschaft. Details siehe <a href="https://crossminton.de/wp-content/uploads/2021/10/Spielordnung.pdf" target="_blank" rel="noopener">Spielordnung</a>.</div>
    <div>Hinweis: Es zählen (nur) die 5 besten Ergebnisse in jedem Jahr.</div>

    <ng-container *ngIf="waiting">
        <ng-container *ngTemplateOutlet="loading"></ng-container>
    </ng-container>

    <table #top class="categories-overview-table" style="margin-top: 10px;">
        <tr class="categories-overview-row">
            <ng-container *ngFor="let ranking of rankingTable; let rIdx=index">
                <td *ngIf="ranking?.length" class="categories-overview-cell">
                    <a (click)="scrollTo(catNames[rIdx].substring(9))">{{catNames[rIdx].substring(14)}}</a>
                </td>
            </ng-container>
        </tr>
    </table>

    <div *ngFor="let ranking of rankingTable; let rIdx=index">
        <h1 class="table-heading" *ngIf="ranking?.length" #tableHeading>{{catNames[rIdx].substring(9)}}</h1>
        <a *ngIf="rIdx && ranking?.length" (click)="scrollTo('top')">
            <mat-icon class="big-up-icon">keyboard_arrow_up</mat-icon>
        </a>
        <div style="display: flex;">
            <table *ngIf="ranking?.length">
                <tr>
                    <th *ngIf="year === 2024" rowspan="3" style="font-weight: normal;">Möchte an DM teilnehmen<br /><br />???<br />??.??.2025
                        <ng-container *ngIf="waitingDmPart">
                            <br />
                            <ng-container *ngTemplateOutlet="loading"></ng-container>
                        </ng-container>
                    </th>
                    <th rowspan="3">Platz</th>
                    <th rowspan="3">Punkte</th>
                    <th rowspan="3" class="namecol">Name</th>
                    <th *ngFor="let tournament of allTournaments[rIdx]; let t=index" class="namecol" colspan="2" [ngStyle]="{'background-color': tourPlus[rIdx]?.[t]?.upcoming ? 'yellow' : 'white'}">
                        <a *ngIf="allTournamentIds?.[rIdx]?.[t]" [href]="'showTournament;id=' + allTournamentIds[rIdx][t]">{{tournament}}</a>
                        <ng-container *ngIf="!allTournamentIds?.[rIdx]?.[t]" class="littlespaceleft">{{tournament}}</ng-container>
                    </th>
                </tr>
                <tr>
                    <td *ngFor="let tournament of allTournaments[rIdx]; let t=index" class="header-sub-row" colspan="2">
                        <span *ngIf="dates[rIdx][t]">{{dates[rIdx][t] | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <!-- <td class="header-sub-row"></td>
                    <td class="header-sub-row"></td>
                    <td class="header-sub-row"></td> -->
                    <ng-template ngFor let-tournament [ngForOf]="allTournaments[rIdx]">
                        <td class="header-sub-row">Platz</td>
                        <td class="header-sub-row">Punkte</td>
                    </ng-template>
                </tr>
                <ng-template ngFor let-entry [ngForOf]="ranking" let-eIdx="index">
                    <!-- <tr *ngIf="entry.points !== 0"> -->
                    <tr>
                        <td *ngIf="year === 2024">
                            <!-- <mat-button-toggle-group [(ngModel)]="dmpart[catNames[rIdx]][entry.player._id.toString()]" value="no" name="dmpart"> -->
                            <mat-button-toggle-group [value]="dmpart[catNames[rIdx]][entry.player._id.toString()] || 'unknown'" name="dmpart">
                                <mat-button-toggle (click)="dmpartChanged(catNames[rIdx], entry.player._id, 'yes')" value="yes">Ja</mat-button-toggle>
                                <mat-button-toggle (click)="dmpartChanged(catNames[rIdx], entry.player._id, 'unknown')" value="unknown" class="toggle-unknown">?</mat-button-toggle>
                                <mat-button-toggle (click)="dmpartChanged(catNames[rIdx], entry.player._id, 'no')" value="no" class="toggle-negative">Nein</mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                        <td>{{entry.totalrank}}</td>
                        <td>{{entry.points}}</td>
                        <td class="rightborder">{{entry.player.first_name}} {{entry.player.last_name}}</td>
                        <ng-template ngFor [ngForOf]="allTournaments[rIdx]" let-t="index">
                            <ng-template [ngIf]="entry.details && entry.details[t] && entry.details[t].rank !== -1" [ngIfElse]="noentry">
                                <td>{{entry.details[t].rank}}<span *ngIf="entry.details[t].bround"> (B)</span></td>
                                <td class="rightborder">
                                    <span [ngClass]="{pointsdontcount: entry.details[t].pointsdontcount !== false}">{{entry.details[t].points}}</span>
                                    <button *ngIf="canAdd()" mat-icon-button class="small-button" (click)="changeEntry(entry, rIdx, t)">
                                        <mat-icon style="vertical-align: sub;" class="smallicon">edit</mat-icon>
                                    </button>
                                </td>
                            </ng-template>
                            <ng-template #noentry>
                                <td></td>
                                <td class="rightborder"></td>
                            </ng-template>
                        </ng-template>
                    </tr>
                </ng-template>
            </table>
            <ng-container *ngIf="waitingUpcoming">
                <ng-container *ngTemplateOutlet="loading"></ng-container>
            </ng-container>
        </div>
    </div>

</div>
<div class="enlargepage">&nbsp;</div>