.highlight {
    font-weight: bold;
}

button {
    margin-bottom: 15px;
}

.specialcursor {
    cursor: zoom-in;
}
.specialcursor2 {
    cursor: zoom-out;
}

/* b.table-heading {
    margin-top: 30px;
} */

.table-heading {
    display: inline-block;
}

table {
    page-break-after: always;
}

th.namecol {
    max-width: 120px;
}
th, td {
    padding: 3px;
}
table th {
    border-bottom: none;
}
table, th {
    border: 1px solid black;
    border-collapse: collapse;
}
td.rightborder {
    border-right: 1px solid black !important;
    border-collapse: collapse;
}
td.header-sub-row {
    border-top: none !important;
    border: 1px solid black;
    background-color: white;
}
td {
    border: 1px dotted black;
    border-collapse: collapse;
}
td, th {
    text-align: center;
}
th {
    background-color: #fff;
}
table tr:nth-child(even) {
    background-color: #fff;
}
table tr:nth-child(odd) {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #eee !important;
}

.add-form {
    max-width: 400px;
}

.mat-mdc-form-field {
    width: 100%;
}
.mat-mdc-form-field.small {
    width: 190px;
    margin-right: 10px;
}

.smallicon {
    cursor: pointer;
    margin-left: 0;
    vertical-align: top;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    width: 16px;
    text-indent: 0;
}
.mat-mdc-icon-button.small-button {
    margin: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.pointsdontcount {
    color: lightgrey;
}

.linked-list {
    margin: 15px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 120%;
}

.big-up-icon {
    margin-left: 10px;
    font-size: 36px;
    height: 36px;
    width: 36px;
    line-height: 36px;
}