button {
    margin-bottom: 15px;
}

.specialcursor {
    cursor: zoom-in;
}
.specialcursor2 {
    cursor: zoom-out;
}

/* b.table-heading {
    margin-top: 30px;
} */

table {
    page-break-after: always;
}

th.namecol {
    max-width: 120px;
}
th, td {
    padding: 3px;
}
table th {
    border-bottom: none;
}
table, th {
    border: 1px solid black;
    border-collapse: collapse;
}
td.rightborder {
    border-right: 1px solid black !important;
    border-collapse: collapse;
}
td.header-sub-row {
    border-top: none !important;
    border: 1px solid black;
}
td {
    border: 1px dotted black;
    border-collapse: collapse;
}
td, th {
    text-align: center;
}
th {
    background-color: #fff !important;
}
table tr:nth-child(even) {
    background-color: #fff;
}
table tr:nth-child(odd) {
    -webkit-print-color-adjust: exact;
    background-color: #eee !important;
}
