// ------------- PRINT -------------

.printonly {
    display: none;
}

h1.header {
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 100%;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: dotted;
}


.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

@media print {
    .noprint {
        display: none !important;
    }

    /* no Groups KO-A ... tab headers" */
    .mat-mdc-tab-header {
        display: none !important;
    }

    /* needed, otherwise only one page is printed */
    body {
        /* width: 100%;
        height: auto; */
        margin: 0;
    }
    .main-toolbar {
        display: none !important;
    }
    .main-container {
        position: relative !important;
    }

    .sidenav {
        display: none !important;
    }
    .sidenav-content.mat-sidenav-content {
        margin-left: 0 !important;
    }
    .footer {
        display: none !important;
    }

    /* don't print URLs after links */
    a[href]:after {
        content: none !important;
    }
    img[src]:after {
        content: none !important;
    }

    /* no "open in separate tabs" */
    h2 span {
        display: none;
    }

    /* GROUP STAGE */

    .printonly {
        display: block !important;
    }

    .wholegroupdiv {
        display: inline-block;
    }

    .unfinished input.singlegroupmatch-set {
        display: none;
    }

    table.groupmatchesoverview td {
        border-style: solid;
        border-width: 1pt;
    }

    .singlegroupmatch-container th {
        width: 1cm;
    }

    .printplayernames {
        font-size: 120%;
        padding-top: 5px;
        padding-left: 40px;
    }

    button {
        display: none !important;
    }
}
