@import "./styles-themed.scss";
@import "./print.scss";

/* roboto-300 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("./fonts/roboto-v20-latin-300.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("./fonts/roboto-v20-latin-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/roboto-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        // url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
        // url(./fonts/MaterialIcons-Regular.woff) format('woff'),
        url(./fonts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

html,
body {
    height: 100%;
}
.mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}

.sidenav-container {
    /* height: calc(100% - 64px); */
    height: 100%;
}

.enlargepage {
    // height: 250px;
    min-height: 250px;
    flex: 1;
}

div.alert {
    margin-bottom: 0;
    position: absolute;
    z-index: 15;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a, .cursor-pointer {
    cursor: pointer;
}

// button {
//     font-family: Arial;
//     background-color: #eee;
//     border: none;
//     padding: 5px 10px;
//     border-radius: 4px;
//     cursor: pointer;
// }

// nav a.active {
//     color: white;
//     background-color: #ff7d00;
// }

body h2 {
    font-size: 24px;
}
body h3 {
    font-size: 18px;
}

.mat-mdc-dialog-container {
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}

/* items class */
.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    /*width: 24em;*/
}
.items li {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #eee;
    margin: 0.5em;
    border-radius: 4px;
}
.items li a {
    display: block;
    text-decoration: none;
}
/* moved to themes.scss
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
*/
.items li.selected {
    background-color: #cfd8dc;
    color: white;
}
.items li.selected:hover {
    background-color: #bbd8dc;
}
.items .text {
    position: relative;
    top: -3px;
}
.items .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0.7em 0.7em;
    line-height: 1em;
    position: relative;
    left: -1px;
    /*top: -4px;*/
    /*height: 1.8em;*/
    margin-right: 0.8em;
    border-radius: 4px 0 0 4px;
}
.items .points {
    font-weight: normal;
    color: black;
    margin-right: 15px;
}
.items .location {
    font-weight: normal;
}

div.form-group, .mat-mdc-form-field.form-group, .select-form-group, .form-group {
    margin-bottom: 0;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
}

div.cdk-overlay-pane {
    min-width: initial;
}

/* /////////// */
.mat-mdc-tab-header {
    margin-bottom: 5px;
}

// colors for tab headers (group, KO, B-KO)
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.bracket .mat-tab-label:nth-child(1):nth-last-child(5),
.bracket .mat-tab-label:nth-child(1):nth-last-child(4) {
    background-color: #fcecba;
}
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.bracket .mat-tab-label:nth-child(2):nth-last-child(4),
.bracket .mat-tab-label:nth-child(2):nth-last-child(3),
.bracket .mat-tab-label:nth-child(1):nth-last-child(3) {
    background-color: #c8ffd6;
}
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.bracket .mat-tab-label:nth-child(3):nth-last-child(3) {
    background-color: #ffc8c8;
}

app-alert div.alert {
    margin-bottom: 0px;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.smallcheckbox label.mat-checkbox-layout {
    transform: scale(0.7);
}

app-footer p {
    margin: 8px 0 2px 0px;
}

mat-spinner.smallspinner {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.subtitle-links {
    font-size: 14px;
}

// test, should be in styled
.mat-mdc-dialog-container {
    background: white;
    color: rgba(0, 0, 0, 0.87);
}

.ql-container.ql-snow {
    height: 300px;
}

.cdk-overlay-container .mat-mdc-select-panel {
    min-width: 100%!important;
}
// .mat-select-panel {
div.cdk-overlay-pane {
    background-color: white;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.mat-mdc-option.mat-active {
    background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.87);
}
.mat-mdc-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: rgba(0, 0, 0, 0.04);
}

div.cdk-overlay-pane.mat-mdc-tooltip-panel {
    background-color: transparent;
    box-shadow: none;
}
div.cdk-overlay-pane.mat-mdc-tooltip-panel .mat-tooltip {
    margin: 5px;
    background-color: lightgoldenrodyellow;
    color: #842a1d;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.42);
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-checked .mat-checkbox-background {
    background-color: #0158a4;
}

.littlespaceleft {
    margin-left: 3px;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation: fadeInDown 1s ease 0.3s 1 normal both;
    -webkit-animation-name: fadeOutUp;
    animation: fadeOutUp 1s ease 0.3s 1 normal both;
    animation-name: fadeOutUp;
}
