@use '@angular/material' as mat;
@mixin cr-styles-theme($theme, $primary, $accent, $grey-palette, $darkmode) {
    $primary-dark: mat.get-color-from-palette(map-get($theme, primary), 800);
    $primary-bright: mat.get-color-from-palette(map-get($theme, primary), 200);
    $primary-verybright: mat.get-color-from-palette(map-get($theme, primary), 50);
    $bright-text: rgba(255, 255, 255, 0.87);

    @if $darkmode {
        img {
            opacity: 0.75;
            transition: opacity 0.5s ease-in-out;
        }
        img:hover {
            opacity: 1;
        }
        .back img {
            filter: brightness(0.85);
            transition: filter 0.5s ease-in-out;
        }
        .back img:hover {
            filter: none;
        }

        a {
            color: mat.get-color-from-palette(map-get($theme, primary), 300);
        }
        a:hover {
            color: mat.get-color-from-palette(map-get($theme, primary), 400);
        }

        .error-text {
            color: lighten($accent, 20);
        }

        .mat-mdc-dialog-container {
            background: #424242;
            color: rgba(255, 255, 255, 0.87);
        }

    } @else {
        a {
            color: mat.get-color-from-palette(map-get($theme, primary), 600);
        }
        a:hover {
            color: mat.get-color-from-palette(map-get($theme, primary), 800);
        }

        .error-text {
            color: $accent;
        }

        .mat-mdc-dialog-container {
            background: white;
            color: rgba(0, 0, 0, 0.87);
        }
    }

    .mat-button-toggle-appearance-standard.mat-button-toggle-checked:not(.toggle-unknown) {
        background-color: $primary;
        color: $bright-text;
    }
    .mat-button-toggle-appearance-standard.mat-button-toggle-checked.toggle-negative {
        background-color: $accent;
        color: $bright-text;
    }

    h1, h2, h3, h4 {
        color: $primary-dark;
    }

    // // Use mat-color to extract individual colors from a palette as necessary.
    // .badge {
    //     background-color: mat-color(map-get($theme, primary), darker);
    // }

    // .mat-column-date {
    //     color: $accent;
    // }

    // .mat-raised-button {
    //     background-color: mat-color(map-get($theme, primary), lighter);
    // }

    // .items li:hover {
    //     color: mat-color(map-get($theme, primary), A700);
    //     background-color: #ddd;
    //     left: 0.1em;
    // }

    // mat-table mat-row.mat-row:hover {
    //     color: mat-color(map-get($theme, primary), A700);
    //     background-color: #ddd;
    //     left: 0.1em;
    // }

    // mat-row.crossyEvent {
    //     background-color: mat-color(map-get($theme, primary), 100);
    // }

    .singlegroupmatch-set {
        background-color: rgba(255, 255, 255, 0);
    }
    // .singlegroupmatch-set{
    //    background-color: mat-color(map-get($theme, primary), 200);
    // }
    .singlegroupmatch-row {
        background-color: mat.get-color-from-palette($grey-palette, 300);
    }
    .singlegroupmatch-sum {
        background-color: #fcecba;
    }
    .groupmatchesoverview-player {
        background-color: #f8d667;
    }
    .groupmatchesoverview-blank {
        background-color: mat.get-color-from-palette($grey-palette, 200);
    }
    .groupmatchesoverview-score {
        background-color: #fcecba;
    }

    p-calendar.ng-invalid input:required {
        background-color: $accent;
    }

    app-group .mat-expansion-panel-header, app-group mat-expansion-panel-header:focus {
        background-color: mat.get-color-from-palette(map-get($theme, primary), 200) !important;
    }
    app-group mat-expansion-panel mat-expansion-panel-header:hover {
        background-color: mat.get-color-from-palette(map-get($theme, primary), 300) !important;
    }
    app-group mat-expansion-panel mat-panel-description.mat-expansion-panel-header-description {
        color: mat.get-color-from-palette(map-get($theme, foreground), text) !important;
    }

    mat-table.mat-mdc-table mat-row.mat-mdc-row.markHasPartner1 {
        background-color: mat.get-color-from-palette(map-get($theme, primary), 300);
    }
    mat-table.mat-mdc-table mat-row.mat-mdc-row.markHasPartner2 {
        background-color: mat.get-color-from-palette(map-get($theme, primary), 100);
    }
    mat-table.mat-mdc-table mat-row.mat-mdc-row.markHasPartner1:hover {
        color: mat.get-color-from-palette(map-get($theme, primary), A700);
        background-color: #ddd;
        left: 0.1em;
    }
    mat-table.mat-mdc-table mat-row.mat-mdc-row.markHasPartner2:hover {
        color: mat.get-color-from-palette(map-get($theme, primary), A700);
        background-color: #ddd;
        left: 0.1em;
    }

    // button.mat-mdc-button, button.mat-raised-button.mat-primary {
    //     color: $bright-text;
    //     background-color: $primary;
    // }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    .mat-mdc-button.mat-mdc-button-base.mat-primary.mat-raised-button-disabled {
        color: mat.get-color-from-palette($grey-palette, 500);;
        background-color: mat.get-color-from-palette($grey-palette, 300);
    }

    button.mat-mdc-button.warn-button {
        color: $bright-text;
        background-color: $accent;
    }

    div.tournament-div:nth-of-type(odd) {
        background: $primary-verybright;
    }

    .events-table .mat-mdc-row:hover {
        background-color: mat.get-color-from-palette($grey-palette, 300);
    }

    // .action-button {
    //     background-color: $primary-dark;
    // }

    // .edit-button:not([disabled]),
    // .edit-button.mat-raised-button:not([disabled]) {
    //     background-color: $accent;
    // }
}
