@use '@angular/material' as mat;
@import './theme_vars.scss';
// crossy imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// https://material.io/design/color/#tools-for-picking-colors
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


// generated with http://mcg.mbitson.com/#!?crossy=%2300897b
// used as described in https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html#understanding-mat-palette
// $md-crossy-theme: mat-light-theme($md-crossy-primary, $md-crossy-accent, $md-crossy-warn);
// @include angular-material-theme($md-crossy-theme);

@import './styles-themed.scss';
@import '../../app.component-themed.scss';
@import '../alert/alert.component-themed.scss';


@mixin cr-theme($theme, $grey-palette, $darkmode, $isFirstCall) {
    @if $isFirstCall {
        @include mat.all-component-themes($theme);
    } @else {
        @include mat.all-component-colors($theme);
    }
    @include cr-styles-theme($theme, mat.get-color-from-palette(map-get($theme, primary)), mat.get-color-from-palette(map-get($theme, accent)), $grey-palette, $darkmode);
    @include cr-app-theme($theme, mat.get-color-from-palette(map-get($theme, primary)), mat.get-color-from-palette(map-get($theme, accent)), $grey-palette, $darkmode);
    @include cr-alert-theme($theme, mat.get-color-from-palette(map-get($theme, primary)), mat.get-color-from-palette(map-get($theme, accent)), $grey-palette, $darkmode);
}

.force-dark-mode {
    @function md-crossy-dark-theme-foreground($color) {
        @return (
            base:              $color,
            divider:           rgba(white, 0.12),
            dividers:          rgba(white, 0.12),
            disabled:          rgba($color, 0.38),
            disabled-button:   rgba($color, 0.38),
            disabled-text:     rgba($color, 0.38),
            hint-text:         rgba($color, 0.38),
            secondary-text:    rgba($color, 0.54),
            icon:              rgba($color, 0.54),
            icons:             rgba($color, 0.54),
            text:              rgba($color, 0.87),
            slider-off:        rgba($color, 0.26),
            slider-off-active: rgba($color, 0.38),
            slider-min:        rgba($color, 0.38)
        );
    };
    $white-foreground: md-crossy-dark-theme-foreground(white);
    
    $md-crossy-theme: mat.define-dark-theme((
        color: (primary: $md-crossy-primary, accent: $md-crossy-accent, warn: $md-crossy-warn),
        typography: mat.define-typography-config(),
        density: 0,
    ));
    $md-crossy-theme-custom: map-merge($md-crossy-theme, (foreground: $white-foreground));
    @include cr-theme($md-crossy-theme-custom, $md-crossy-grey-dark, true, false);
}
.force-light-mode {
    $md-crossy-theme: mat.define-light-theme((
        color: (primary: $md-crossy-primary, accent: $md-crossy-accent, warn: $md-crossy-warn ),
        typography: mat.define-typography-config(),
        density: 0,
    ));
    @include cr-theme($md-crossy-theme, $md-crossy-grey-light, false, false);
}

.auto-mode {
    @media (prefers-color-scheme: dark) {
        @function md-crossy-dark-theme-foreground($color) {
            @return (
                base:              $color,
                divider:           rgba(white, 0.12),
                dividers:          rgba(white, 0.12),
                disabled:          rgba($color, 0.38),
                disabled-button:   rgba($color, 0.38),
                disabled-text:     rgba($color, 0.38),
                hint-text:         rgba($color, 0.38),
                secondary-text:    rgba($color, 0.54),
                icon:              rgba($color, 0.54),
                icons:             rgba($color, 0.54),
                text:              rgba($color, 0.87),
                slider-off:        rgba($color, 0.26),
                slider-off-active: rgba($color, 0.38),
                slider-min:        rgba($color, 0.38)
            );
        };
        $white-foreground: md-crossy-dark-theme-foreground(white);
        
        $md-crossy-theme: mat.define-dark-theme((
            color: (primary: $md-crossy-primary, accent: $md-crossy-accent, warn: $md-crossy-warn),
            typography: mat.define-typography-config(),
            density: 0,
        ));
        $md-crossy-theme-custom: map-merge($md-crossy-theme, (foreground: $white-foreground));
        @include cr-theme($md-crossy-theme-custom, $md-crossy-grey-dark, true, false);
    }

    @media not all and (prefers-color-scheme: dark) {
        $md-crossy-theme: mat.define-light-theme((
            color: (primary: $md-crossy-primary, accent: $md-crossy-accent, warn: $md-crossy-warn),
            typography: mat.define-typography-config(),
            density: 0,
        ));
        @include cr-theme($md-crossy-theme, $md-crossy-grey-light, false, false);
    }
}
