// Import material theming functions
@use '@angular/material' as mat;

/* For use in src/lib/core/theming/_palette.scss */
$md-crossy-primary-palette: (
    50 : #e1ebf4,
    100 : #b3cde4,
    200 : #80acd2,
    300 : #4d8abf,
    400 : #2771b2,
    500 : #0158a4,
    600 : #01509c,
    700 : #014792,
    800 : #013d89,
    900 : #002d78,
    A100 : #a6bfff,
    A200 : #739bff,
    A400 : #4076ff,
    A700 : #2664ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-crossy-accent-palette: (
    50 : #f7e7e5,
    100 : #ebc4bf,
    200 : #de9d95,
    300 : #d1766a,
    400 : #c7584a,
    500 : #bd3b2a,
    600 : #b73525,
    700 : #ae2d1f,
    800 : #a62619,
    900 : #98190f,
    A100 : #ffcbc9,
    A200 : #ff9b96,
    A400 : #ff6b63,
    A700 : #ff5349,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-crossy-grey-palette: (
    50 : #fafafa,
    100 : #f5f5f5,
    200 : #eeeeee,
    300 : #e0e0e0,
    400 : #bdbdbd,
    500 : #9e9e9e,
    600 : #757575,
    700 : #616161,
    800 : #424242,
    900 : #212121,
    A100 : #e7e7e7,
    A200 : #cbcbcb,
    A400 : #afafaf,
    A700 : #a0a0a0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-crossy-grey-dark-palette: (
    900 : #fafafa,
    800 : #f5f5f5,
    700 : #eeeeee,
    600 : #e0e0e0,
    500 : #bdbdbd,
    400 : #9e9e9e,
    300 : #757575,
    200 : #616161,
    100 : #424242,
    50 : #212121,
    A100 : #e7e7e7,
    A200 : #cbcbcb,
    A400 : #afafaf,
    A700 : #a0a0a0,
    contrast: (
        900 : #000000,
        800 : #000000,
        700 : #000000,
        600 : #000000,
        500 : #000000,
        400 : #ffffff,
        300 : #ffffff,
        200 : #ffffff,
        100 : #ffffff,
        50 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-crossy-primary: mat.define-palette($md-crossy-primary-palette);
$md-crossy-accent: mat.define-palette($md-crossy-accent-palette);
$md-crossy-warn: mat.define-palette($md-crossy-accent-palette);
$md-crossy-grey-light: mat.define-palette($md-crossy-grey-palette);
$md-crossy-grey-dark: mat.define-palette($md-crossy-grey-dark-palette);
