<span *ngIf="tournament">

    <h2>{{tournament.title}}</h2>

    <p>&nbsp;</p>
    <button *ngIf="tournament.organiser && tournament.organiser.name !== '*'" mat-raised-button (click)="goToEnroll(tournament)" i18n="show, enroll button@@enroll">Enroll</button>
    <button *ngIf="drawExists" style="margin-left: 10px;" mat-raised-button (click)="goToDraw(tournament)" i18n="show, go to draw and results link@@Show the Draw / Results">Show the Draw / Results</button>
    <p>&nbsp;</p>

    <div [innerHTML]="announcement"></div>

    <p>&nbsp;</p>

    <button mat-raised-button (click)="goHome()" i18n="show, go home button@@home">Home</button>
    <!-- <button mat-raised-button (click)="goToCalendar()">Show all Tournaments</button> -->

    <div class="enlargepage">&nbsp;</div>

</span>
<span *ngIf="!tournament">
    <mat-spinner [diameter]="15" [strokeWidth]="1" [diameter]="15" [strokeWidth]="1"></mat-spinner>
</span>