<ng-template #waiting>
    <mat-spinner class="smallspinner" [diameter]="15" [strokeWidth]="1"></mat-spinner>
</ng-template>

<h1 i18n="creation, create tournament header@@create tournament">Create a Tournament</h1>
<form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>
    <div *ngFor="let question of questions">
        <div [ngSwitch]="question.type" class="form-group">
            <div *ngSwitchCase="'text'">
                <div *ngIf="question.link" style="width: max-content; font-size: 90%;">
                    ===> <a [href]="question.link" target="_blank">{{question.link}}</a>
                </div>
                <mat-form-field class="form-group">
                    <input matInput type="text" placeholder="{{tr.anslateProperties(question.label)}}: {{question.example ? 'e.g. ' + question.example : ''}}" name="{{question.label}}" [(ngModel)]="question.value" [required]="question.required">
                </mat-form-field>
                <!-- <span *ngIf="question.label === 'name">
                    <button (click)="loadFromTS(question.value)" mat-raised-button class="mat-primary" i18n="tournament creation, load data from Tournament System@@Load from TS">Load from TS</button>
                </span> -->
            </div>
            <div *ngSwitchCase="'number'">
                <mat-form-field class="form-group">
                    <input matInput type="number" placeholder="{{tr.anslateProperties(question.label)}}: {{question.example ? 'e.g. ' + question.example : ''}}" name="{{question.label}}" [(ngModel)]="question.value" [required]="question.required">
                </mat-form-field>
            </div>
            <div *ngSwitchCase="'date'">
                <label for="{{question.label}}">{{tr.anslateProperties(question.label)}}</label>&nbsp;
                <input [matDatepicker]="myDatepicker" id="{{question.label}}" name="{{question.label}}" [(ngModel)]="question.value">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <!-- <p-calendar [required]="question.required" showIcon="true" icon="fa fa-calendar" id="{{question.label}}" dataType="string" dateFormat="dd.mm.yy" name="{{question.label}}" [(ngModel)]="question.value"></p-calendar> -->
            </div>
            <div *ngSwitchCase="'dropdown'">
                <mat-form-field class="select-form-group">
                    <mat-select placeholder="{{tr.anslateProperties(question.label)}}" name="{{question.label}}" [(ngModel)]="question.value"
                        [required]="question.required" (selectionChange)="selectChanged(question.label, $event)">
                        <mat-option *ngFor="let option of options[question.label]" value="{{option._id}}">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngSwitchCase="'checkboxes'">
                <mat-form-field *ngIf="options[question.label]; else waiting" class="select-form-group">
                    <mat-select placeholder="{{tr.anslateProperties(question.label)}}" name="{{question.label}}" [(ngModel)]="question.value" #theselect
                        #myselect="ngModel" multiple [required]="question.required" (selectionChange)="selectChanged(question.label, $event)">
                        <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAll(myselect, options[question.label])" i18n="creation, Select All options button@@Select All">Select All</button>
                        <button mat-raised-button class="mat-accent fill text-sm" (click)="deselectAll(myselect)" i18n="creation, Deselect All options button@@Deselect All">Deselect All</button>
                        <button mat-raised-button class="closeButton fill text-sm" (click)="closeMatSelect(theselect)" i18n="creation, close button@@close">Close</button>
                        <mat-option *ngFor="let option of options[question.label]" value="{{option._id}}">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngSwitchCase="'checkbox'">
                <mat-checkbox name="{{question.label}}" [(ngModel)]="question.value" [required]="question.required">{{tr.anslateProperties(question.label)}}</mat-checkbox>
            </div>
        </div>
    </div>

    <quill-editor #editor [modules]="quillOptions" [(ngModel)]="details" name="editor"></quill-editor>

    <br />
    <button type="submit" mat-raised-button class="mat-primary" i18n="creation, create tournament button@@create">Create</button>
</form>

<div class="enlargepage">&nbsp;</div>