td {
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 20px;
}
button.closeButton {
    float: right;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

.button-icon {
    cursor: pointer;
    vertical-align: middle;
}

label {
    font-weight: inherit;
}

.tournament-title {
    font-size: 120%;
}
.tournament-div {
    padding-bottom: 21px;
}