TODO

<!-- <h2><span i18n="enterscores, list of all matches that have not yet been played@@all open matches">All Open Matches</span> <span *ngIf="canMakeChanges" style="font-size:55%; margin-left: 10px;">(<a [routerLink]="['/ko', {id: tournamentId}]" i18n="enterscores, go to overall tournament link@@go to tournament">Go to tournament</a>)</span></h2>
<mat-spinner *ngIf="loading" [diameter]="15" [strokeWidth]="1"></mat-spinner>

<mat-form-field class="form-group">
    <input matInput type="text" placeholder="Filter player name ..." i18n-placeholder="enterscores, filter by player name@@filter player name" class="filter" id="filterinput" name="filterinput" [(ngModel)]="filter" (input)="filterChanged()">
</mat-form-field>
<div *ngFor="let match of filteredMyMatches; let m=index">
    <div>{{filteredMyMatches.length - m}}. {{match.category}}, {{match.matchNr.ko_type === 'G' ? tr.anslateProperties('Group') : 'KO'}} {{getLevel(match.matchNr)}}-{{match.matchNr.num + 1}}: {{match.player1}}{{match.partner1 ? ('/' + match.partner1) : ''}} - {{match.player2}}{{match.partner2 ? ('/' + match.partner2) : ''}}:
        <span *ngIf="match.score && match.score.length >= 2">
            <input type="number" min='0' max='99' maxlength="2" [ngClass]="{'saved': match.match.saved}" class="score1" [(ngModel)]="match.score[0].p1" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 0">:
            <input type="number" min='0' max='99' maxlength="2" [ngClass]="{'saved': match.match.saved}" class="score1 spaceright" [(ngModel)]="match.score[0].p2" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 1">

            <input type="number" min='0' max='99' maxlength="2" [ngClass]="{'saved': match.match.saved}" class="score2" [(ngModel)]="match.score[1].p1" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 2">:
            <input type="number" min='0' max='99' maxlength="2" [ngClass]="{'saved': match.match.saved}" class="score2 spaceright" [(ngModel)]="match.score[1].p2" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 3">

            <input type="number" min='0' max='99' maxlength="2" [ngClass]="{'saved': match.match.saved}" class="score3" [class.dontshow]="match.score[2].p1 == 0 && match.score[2].p2 == 0" [(ngModel)]="match.score[2].p1" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 4">:
            <input type="number" min='0' max='99' maxlength="2" [ngClass]="{'saved': match.match.saved}" class="score3" [class.dontshow]="match.score[2].p1 == 0 && match.score[2].p2 == 0" [(ngModel)]="match.score[2].p2" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 5">
        </span>
    </div>
</div>


<h2 i18n="enterscores, list of all matches that have already been played@@all finished matches">All Finished Matches</h2>

<div *ngFor="let match of finishedMatches; let m=index">
    <div>{{m}}. {{match.category}}, {{match.matchNr.ko_type === 'G' ? tr.anslateProperties('Group') : tr.anslateProperties('KO')}} {{getLevel(match.matchNr)}}-{{match.matchNr.num + 1}}: {{match.player1}}{{match.partner1 ? ('/' + match.partner1) : ''}} - {{match.player2}}{{match.partner2 ? ('/' + match.partner2) : ''}}:
        <span *ngIf="match.score && match.score.length >= 2">
            <input type="number" min='0' max='99' maxlength="2" class="score1" [(ngModel)]="match.score[0].p1" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 0">:
            <input type="number" min='0' max='99' maxlength="2" class="score1 spaceright" [(ngModel)]="match.score[0].p2" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 1">

            <input type="number" min='0' max='99' maxlength="2" class="score2" [(ngModel)]="match.score[1].p1" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 2">:
            <input type="number" min='0' max='99' maxlength="2" class="score2 spaceright" [(ngModel)]="match.score[1].p2" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 3">

            <input type="number" min='0' max='99' maxlength="2" class="score3" [class.dontshow]="match.score[2].p1 == 0 && match.score[2].p2 == 0" [(ngModel)]="match.score[2].p1" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 4">:
            <input type="number" min='0' max='99' maxlength="2" class="score3" [class.dontshow]="match.score[2].p1 == 0 && match.score[2].p2 == 0" [(ngModel)]="match.score[2].p2" (change)="scorelistener.next({match: match})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="1000 + level*200 + idx*6 + 5">
        </span>
    </div>
</div>

<div class="enlargepage">&nbsp;</div> -->