<div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
     {{alert.message}} <a *ngIf="alert.link && alert.linkText" [href]="alert.link" target="_blank" rel="noopener">{{alert.linkText}}</a>
     <a class="close" (click)="removeAlert(alert)">&times;</a>
</div>
<div *ngFor="let alert of removingAlerts" class="{{ cssClass(alert) }} alert-dismissable fadeOutUp">
     {{alert.message}} <a *ngIf="alert.link && alert.linkText" [href]="alert.link" target="_blank" rel="noopener">{{alert.linkText}}</a>
</div>