@use '@angular/material' as mat;
@mixin cr-alert-theme($theme, $primary, $accent, $grey-palette, $darkmode) {

    @if $darkmode {
        .alert.alert-success {
            background-color: mat.get-color-from-palette(map-get($theme, primary), 900);
            color: mat.get-color-from-palette(map-get($theme, primary), 100);
        }
    
        .alert.alert-danger {
            background-color: #9e4c4c;
            color: #f9dcdb;
        }
    } @else {
        .alert.alert-success {
            background-color: mat.get-color-from-palette(map-get($theme, primary), 50);
            color: mat.get-color-from-palette(map-get($theme, primary), 900);
        }
    }

}

