@import 'src/app/util/css/styles.scss';
@import './app.component-themed.scss';

.menu-icon {
    margin-left: -7px;
    margin-right: 8px;
    margin-bottom: 4px;
}
@media (max-width:899px) and (min-width:600px) {
    .menu-icon {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.spacer {
    flex: 1;
}

.padding-left {
    padding-left: 4px;
}

.footer {
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    font-size: 11px;
    display: flex;
    justify-content: space-around;
}
// https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15947692/
@supports (-ms-flow-from: thingy) { /* Edge only */
    .footer {
        justify-content: space-around;
    }
}

/* responsive menu */
.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-flex-wrapper {
    display: flex;
    flex-direction: column;
}

app-alert div.alert {
  margin-bottom: 0px
}


.supported-by {
    font-size: 70%;
    opacity: 0.5;
}

/* responsive menu */
.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.mat-drawer-content {
    padding-left: 10px;
}

.main-toolbar {
    min-height: 50px;
    max-height: 50px;
}

.main-is-mobile .main-toolbar {
    /* position: fixed; */
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.main-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.main-is-mobile .main-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
    `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.main-is-mobile .mat-expansion-panel-body {
    margin-left: 0
}

.crossyicon {
    height: 30px;
    margin-right: 10px;
    transition: opacity .5s ease-in-out;
}
.crossyicon:active,
.crossyicon:focus,
.crossycon:hover {
    color:#000; /* prevent IE 'sticking' or ignoring state change */
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}

.version-number {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: auto;
    right: auto;
    font-size: 50%;
    width: 100%;
}

.login {
    font-size: 70%;
    color: white;
    float: right;
    padding: 3px 10px;
}
a.login:hover {
    color: lightgray;
}
