<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> -->

<div style="height: 100%;" [ngClass]="{'force-dark-mode': darkmodeMode === 'darkmode', 'force-light-mode': darkmodeMode === 'lightmode', 'auto-mode': darkmodeMode === 'auto'}" class="main-container" [class.main-is-mobile]="mobileQuery.matches">

    <app-alert></app-alert>

    <mat-toolbar color=primary class="main-toolbar">
        <mat-toolbar-row>
            <span>
                <img (click)="snav?.toggle()" [src]="'assets/crossy' + (isDarkmode ? '-inverted' : '') + '.png'" class="crossyicon" [matTooltip]="latestWebVersion">
                <span>{{title}}</span>
            </span>
            <span>
                <div class="supported-by" [style.display]="mobileQuery.matches ? 'none' : 'block'" i18n="toolbar, supported by DCV@@supported by">supported by <a style="color:white" href="http://crossminton.de" target="_blank" rel="noopener">DCV</a></div>
            </span>
            <span style="display: flex; align-items: center;">
                <span *ngIf="loggedInUser && loggedInUser.first_name; else loggedout">
                    <a class="login" routerLink="/logout" routerLinkActive="active">Logout</a>
                    <span class="login" id="greeting" i18n="toolbar, greeting@@greeting">Hi {{loggedInUser.first_name}}</span>
                </span>
                <ng-template #loggedout>
                    <a class="login" routerLink="/register" routerLinkActive="active" i18n="toolbar, register@@register">Register</a>
                    |&nbsp;
                    <a class="login" routerLink="/login" routerLinkActive="active" i18n="toolbar, login@@login">Login</a>&nbsp;
                </ng-template>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- <cookie-law position="bottom" name="cookieLawSeen">
        <ng-template i18n="footer, cookie message">By continuing to browse the site, you are agreeing to our use of cookies. Learn more here:</ng-template> <a routerLink="/privacy" routerLinkActive="active" i18n="footer, privacy policy link@@privacy policy">Privacy Policy</a>
    </cookie-law> -->

    <mat-sidenav-container class="main-sidenav-container">
        <mat-sidenav class="sidenav" position="start" [opened]="!mobileQuery.matches"
            #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item *ngIf="loggedInUser" routerLink="/home" routerLinkActive="active" i18n="menu, logged in - my home link@@my home">My Home</a>
                <a mat-list-item *ngIf="!loggedInUser" routerLink="/overview" routerLinkActive="active" i18n="menu, not logged in - home link@@home">Home</a>

                <!-- <a mat-list-item routerLink="/overview" routerLinkActive="active">Overview</a> -->
                <!-- <a mat-list-item routerLink="/calendar" routerLinkActive="active" i18n="menu, Calendar@@Calendar">Calendar</a> -->
                <a mat-list-item routerLink="/ranking" routerLinkActive="active">DCV <ng-container i18n="menu, Ranking@@Ranking">Ranking</ng-container></a>
                <!-- <a mat-list-item *ngIf="loggedInUser" routerLink="/enroll" routerLinkActive="active">Enroll</a> -->
                <!-- <a mat-list-item [routerLink]="['/scores', {id: '5acb697f079dc321a0435a9e'}]" routerLinkActive="active">Enter Scores</a> -->
                <a mat-list-item routerLink="/dmquali" [queryParams]="{year: 2024}" routerLinkActive="active" i18n="menu, DM Qualification ranking link@@DM Qualification">DM Qualification</a>

                <p></p>
                <a mat-list-item *ngIf="loggedInUser" routerLink="/mytournaments" routerLinkActive="active" i18n="menu, all about organising tournaments link@@organising">Organising</a>

                <a mat-list-item routerLink="/doc" routerLinkActive="active" i18n="menu, documentation link@@documentation">Documentation</a>

                <a *ngIf="loggedInUser && isAllowed('users')" mat-list-item routerLink="/users" routerLinkActive="active">User Admin</a>

                <!-- <a *ngIf="loggedInUser && isAllowed('dcv')" mat-list-item routerLink="/dcv" routerLinkActive="active">DCV</a> -->
            </mat-nav-list>
            <div class="version-number">{{latestWebVersion + '/' + buildNr}}</div>
        </mat-sidenav>
        <mat-sidenav-content class="sidnav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <!-- footer -->
    <app-footer></app-footer>

</div>