@use '@angular/material' as mat;
@mixin cr-app-theme($theme, $primary, $accent, $grey-palette, $darkmode) {
    
    .footer {
        @if $darkmode {
            background-color: #212121;
        } @else {
            background-color: $primary;
        }
    }

    .menu-icon {
        color: mat.get-color-from-palette($grey-palette, 800);
    }

    .footer {
        color: mat.get-color-from-palette($grey-palette, 300);
    }
    .footer a {
        color: mat.get-color-from-palette($grey-palette, 300);
    }

    .mat-nav-list .mat-mdc-list-item.active:focus, .mat-list-item.active {
        @if not $darkmode {
            background-color: mat.get-color-from-palette(map-get($theme, primary), 200);
        } @else {
            background-color: mat.get-color-from-palette($grey-palette, 400);
        }
    }
}
