Hi DCV!

<div *ngIf="!user">
	<p>Please log in to see your personal page ...</p>
</div>
<div *ngIf="user && !loading && (!players || !players.length)">
	<p>Keine Spieler gefunden ...</p>
</div>

<div>
	<mat-spinner *ngIf="user && loading" class="smallspinner" [diameter]="25" [strokeWidth]="2"></mat-spinner>
</div>

<div *ngIf="user && players.length">
	{{players.length}} Spieler gefunden:

	<ul>
		<li *ngFor="let player of players">
			{{player.clubs[0]?.name}}, {{player.first_name}} {{player.last_name}} {{player.nation}} ({{player.tsid}}, {{player.gender}}, {{moment(player.date_of_birth).format('ll')}}, {{player.tsProfileId}}, {{moment(player.tsLicence.from).format('ll')}}-{{moment(player.tsLicence.to).format('ll')}})
		</li>
	</ul>
</div>