<mat-tab-group>
    <mat-tab label="Spieltage">
        <form *ngIf="!cannotAddRounds()" name="form" (ngSubmit)="f.form.valid && addRound()" #f="ngForm" novalidate>
            <!-- <p-calendar showIcon=true id="from" dataType="string" dateFormat="dd.mm.yy" name="from" [(ngModel)]="newFrom"></p-calendar> -->
            <label for="from">Von</label>&nbsp;
            <input [matDatepicker]="fromDatepicker" id="from" name="from" [(ngModel)]="newFrom">
            <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatepicker></mat-datepicker>

            <!-- <p-calendar showIcon=true id="to" dataType="string" dateFormat="dd.mm.yy" name="to" [(ngModel)]="newTo"></p-calendar> -->
            <label for="to">Bis</label>&nbsp;
            <input [matDatepicker]="toDatepicker" id="to" name="to" [(ngModel)]="newTo">
            <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #toDatepicker></mat-datepicker>

            <span [matTooltip]="cannotAddRounds() ? 'Only Organiser or DCV can do this.' : 'Create the draw for the next round! Check the dates!'">
                <button style="margin-left: 50px;" type="submit" mat-raised-button [disabled]="cannotAddRounds()">
                    Spieltag zuf&uuml;gen
                </button>
            </span>
        </form>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let round of rounds.slice().reverse(); let c=index" hideToggle="false" [expanded]="c === 0">
                <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                    <mat-panel-title>
                        <h2>Runde {{rounds.length-c}}: {{round.start}} - {{round.end}}</h2>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="singlegroupmatch-container">
                    <table *ngFor="let match of round.matches; let m=index" #table class="singlegroupmatch" [class.unfinished]="!isFinished(match, rounds.length-c-1, m)">
                        <tr>
                            <th>Match {{match.matchNr.num +1}}</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>Sum</th>
                        </tr>
                        <tr class='singlegroupmatch-row'>
                            <td class="singlegroupmatch-player">
                                <div class='groupNames'>
                                    <span *ngIf="match.player1.bye === true;else nofreilos" class='groupLastName'>&lt;Freilos&gt;</span>
                                    <ng-template #nofreilos>
                                        <span class='groupLastName'>{{allPlayers[match.player1.playerListIdx].last_name}}</span>
                                        <span class='groupFirstName'>{{allPlayers[match.player1.playerListIdx].first_name}}</span>
                                    </ng-template>
                                </div>
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[0].p1"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 0"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[1].p1"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 2"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[2].p1"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 4"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set third-set" [class.dontshow]="match.score[3].p1 === 0 && match.score[3].p2 === 0" type="number"
                                    min='0' max='99' maxlength="2" [(ngModel)]="match.score[3].p1" (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder=""
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}" [tabindex]="(rounds.length-c)*1000 + m*10 + 6">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set third-set" [class.dontshow]="match.score[4].p1 === 0 && match.score[4].p2 === 0" type="number"
                                    min='0' max='99' maxlength="2" [(ngModel)]="match.score[4].p1" (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder=""
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}" [tabindex]="(rounds.length-c)*1000 + m*10 + 8">
                            </td>
                            <td class="singlegroupmatch-sum">{{calculateSum(match).p1}}</td>
                        </tr>
                        <tr class='singlegroupmatch-row'>
                            <td class="singlegroupmatch-player">
                                <div class='groupNames'>
                                    <span *ngIf="match.player2.bye === true" class='groupLastName'>&lt;Freilos&gt;</span>
                                    <span *ngIf="match.player2.bye !== true">
                                        <span class='groupLastName'>{{allPlayers[match.player2.playerListIdx].last_name}}</span>
                                        <span class='groupFirstName'>{{allPlayers[match.player2.playerListIdx].first_name}}</span>
                                    </span>
                                </div>
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[0].p2"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 1"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[1].p2"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 3"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[2].p2"
                                    (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder="" [tabindex]="(rounds.length-c)*1000 + m*10 + 5"
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set third-set" [class.dontshow]="match.score[3].p1 === 0 && match.score[3].p2 === 0" type="number"
                                    min='0' max='99' maxlength="2" [(ngModel)]="match.score[3].p2" (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder=""
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}" [tabindex]="(rounds.length-c)*1000 + m*10 + 7">
                            </td>
                            <td class='singlegroupmatch-set'>
                                <input class="singlegroupmatch-set third-set" [class.dontshow]="match.score[4].p1 === 0 && match.score[4].p2 === 0" type="number"
                                    min='0' max='99' maxlength="2" [(ngModel)]="match.score[4].p2" (change)="scorelistener.next({roundNr: rounds.length-c-1, match: match})" placeholder=""
                                    [readOnly]="getReadOnly(match)" [ngClass]="{'isreadonly': getReadOnly(match)}" [tabindex]="(rounds.length-c)*1000 + m*10 + 9">
                            </td>
                            <td class="singlegroupmatch-sum">{{calculateSum(match).p2}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="noborders">
                                <mat-checkbox class="smallcheckbox" name="draw-{{rounds.length-c-1}}-{{m}}"
                                    [class.hidden]="!allZeroes(match) || getReadOnly(match)"
                                    [(ngModel)]="isdraw[rounds.length-c-1][m]" (change)="isdrawChanged(isdraw[rounds.length-c-1][m], match)">Nicht gespielt</mat-checkbox>
                            </td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="c === 0">
                    <h4>Übersicht</h4>
                    <div *ngFor="let match of round.matches; let m=index">
                        <div [ngStyle]="{'color': hasPlayed(allPlayers[match.player1.playerListIdx]) ? 'darkgreen' : 'black'}">
                            <span>{{allPlayers[match.player1.playerListIdx].last_name}}</span>&nbsp;<span>{{allPlayers[match.player1.playerListIdx].first_name}}</span>&nbsp;-&nbsp;<span>{{allPlayers[match.player2.playerListIdx].last_name}}</span>&nbsp;<span>{{allPlayers[match.player2.playerListIdx].first_name}}</span><br />
                        </div>

                        <!-- <div *ngIf="(c === 0) && hasPlayed(allPlayers[match.player1.playerListIdx]);else notplayed" style="color: darkgreen">
                            <span>{{allPlayers[match.player1.playerListIdx].last_name}}</span>
                            <span>{{allPlayers[match.player1.playerListIdx].first_name}}</span>&nbsp;-&nbsp;
                            <span>{{allPlayers[match.player2.playerListIdx].last_name}}</span>
                            <span>{{allPlayers[match.player2.playerListIdx].first_name}}</span><br/>
                        </div>
                        <ng-template #notplayed>
                            <span>{{allPlayers[match.player1.playerListIdx].last_name}}</span>
                            <span>{{allPlayers[match.player1.playerListIdx].first_name}}</span>&nbsp;-&nbsp;
                            <span>{{allPlayers[match.player2.playerListIdx].last_name}}</span>
                            <span>{{allPlayers[match.player2.playerListIdx].first_name}}</span><br/>
                        </ng-template> -->
                    </div>
                </div>

                <span *ngIf="canSendEmail() && c === 0">
                    <form name="sendemail" (ngSubmit)="g.form.valid && sendEmailToAll()" #g="ngForm" novalidate>
                        <mat-form-field class="full-width">
                            <label for="subject">EMail Betreff</label>
                            <input class="email" matInput type='text' [(ngModel)]='subject' id="subject" name="subject">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <label for="email">Email Inhalt</label>
                            <textarea class="email" matInput matTextareaAutosize type='text' [(ngModel)]='emailToAll' id="email" name="email">
                            </textarea>
                        </mat-form-field>
                        <button style="margin-bottom: 50px;" type="submit" mat-raised-button>
                            Email an alle Teilnehmer senden
                        </button>
                    </form>
                </span>

                <!-- only allow removing the last round if no freilos bc these wuold not be reset and no match has been played -->
                <mat-action-row *ngIf="c === 0 && allPlayers.length % 2 === 0 && playedCurrentRound.length === 0 && canSendEmail()">
                    <button mat-raised-button (click)="removeRound(rounds.length-c-1)"><mat-icon>delete</mat-icon>Runde entfernen</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>

    <mat-tab label="Spielstand">
        <span *ngIf="allPlayers && allPlayers.length > 0">
            <div *ngFor="let player of getRanking()">
                <div *ngIf="hasPlayed(player);else notplayed" style="color: darkgreen">
                    Platz {{player.rank | number:'2.0-0'}}: {{player.points | number:'2.0-0'}} Punkte: {{player.first_name}} {{player.last_name}}
                </div>
                <ng-template #notplayed>
                    Platz {{player.rank | number:'2.0-0'}}: {{player.points | number:'2.0-0'}} Punkte: {{player.first_name}} {{player.last_name}}
                </ng-template>
            </div>
        </span>
    </mat-tab>
</mat-tab-group>