app-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myranking {
    max-width: 500px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.right-part {
    margin: 0 10px 0 10px;
}

h1 {
    margin-top: 60px;
}
h2 {
    margin-top: 40px;
}
h3 {
    margin-top: 30px;
    color: inherit;
}
h4 {
    margin-top: 20px;
}
