<div *ngIf="!user">
	<p>Please log in to see your personal page ...</p>
</div>
<div *ngIf="user && !myRankings && !myPlayer">
	<p>Loading ...</p>
</div>

<div *ngIf="user" [ngClass]="{'flex-wrapper': !_isRatherSmall}">
	<div>
		<!-- left-part -->
		<div *ngIf="!myFutureTournaments || !myTournaments">
			<p i18n="loading indicator@@loading">Loading ...</p>
		</div>

		<div *ngIf="myFutureTournaments?.length">
			<h2 i18n="home, list of tournaments I am enrolled at@@enrolled tournaments">My upcoming Tournaments</h2>

			<div class="mytournaments">
				<div *ngFor="let tournament of myFutureTournaments; let t=index">
					<h4>{{tournament.title}}</h4>
					<ul>
						<li><a [routerLink]="['/enroll', {id: tournament._id}]" routerLinkActive="active" i18n="home, show enrollment@@show enrollment">Show Enrollment</a></li>
						<li *ngIf="drawExists[t]"><a [routerLink]="['/ko', {id: tournament._id}]" routerLinkActive="active" i18n="home, show draw@@show draw">Show Draw</a></li>
					</ul>
				</div>
			</div>
		</div>

		<app-calendar [showall]=false></app-calendar>

		<div *ngIf="myTournaments.length">
			<h2 i18n="home, list of past tournaments I was enrolled at@@past enrolled tournaments">My recent Tournaments</h2>

			<div class="mytournaments">
				<div *ngFor="let tournament of myTournaments; let t=index">
					<h4>{{tournament.title}}</h4>
					<ul>
						<li><a [routerLink]="['/enroll', {id: tournament._id}]" routerLinkActive="active" i18n="home, show enrollment@@show enrollment">Show Enrollment</a></li>
						<li *ngIf="drawExists[t]"><a [routerLink]="['/ko', {id: tournament._id}]" routerLinkActive="active" i18n="show, go to draw and results link@@Show the Draw / Results">Show the Draw / Results</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div *ngIf="myPlayer">
			<h2 i18n="home, stored information about me@@my info">My Info</h2>

			<ul>
				<li *ngFor="let prop of playerProperties">
					<b>{{tr(prop)}}</b>: {{tr2(prop, myPlayer[prop])}}
				</li>
			</ul>
			<!-- <img *ngIf="myPlayer['picture']" src="{{myPlayer['picture']}}" width="180px" style="padding-bottom: 20px"> -->
		</div>
	</div>
	<div class="right-part">
		<div *ngIf="myRankings?.length">
			<h2 style="margin-bottom: 0;" i18n="home, my position in existing rankings@@My Rankings">My Rankings</h2>
			<span *ngIf="lastupdate" style="font-size: 70%;"> ({{lastupdate | date:'mediumDate'}})</span>
			<!-- <p style="font-size: 80%">(<ng-container i18n="last update">last update</ng-container>: <em>{{lastupdate}}</em>)</p> -->

			<div class="myranking">
				<span *ngFor="let perCategory of myRankings">
					<h3>{{perCategory.category}}</h3>
					<ul class="items">
						<li *ngFor="let entry of perCategory.perCatResult">
							<app-player [rank]=entry.rank [points]=entry.points [player]=entry.player></app-player>
						</li>
						<!-- <li *ngFor="let entry of perCategory.perCatResult"
							(click)="onSelect(entry.player)">
							<app-player [rank]=entry.rank [points]=entry.points [player]=entry.player></app-player>
						</li> -->
					</ul>
				</span>
			</div>
		</div>
	</div>
</div>