<h2>All Crossy Users</h2>

<mat-form-field class="select-form-group">
    <mat-select placeholder="Show Columns" name="columns" [(ngModel)]="displayedColumns" multiple>
        <mat-option *ngFor="let col of allColumns" value={{col}}>{{col}}</mat-option>
    </mat-select>
</mat-form-field>
<br />

<mat-form-field>
    <input matInput name='filter' type="text" placeholder="Filter" [formControl]="filterTerm" />
    <button *ngIf="filterTerm" matSuffix mat-icon-button aria-label="Clear" (click)="filterTerm.reset()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<!-- <mat-checkbox style="padding-right: 10px" *ngFor="let year of possibleYears; let y=index" [(indeterminate)]="beitragFilterYearsIndet[y]" [(ngModel)]="beitragFilterYears[y]" (click)="beitragFilterClicked(y)" value={{year}}>{{year}} License</mat-checkbox>
<br/>

<mat-form-field class="select-form-group">
    <mat-select placeholder="Clubs" name="clubs" [(ngModel)]="selectedClubs" multiple #myselect="ngModel">
        <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAll(myselect, getFilteredPlayers())">Select All</button>
        <button mat-raised-button class="mat-accent fill text-sm" (click)="deselectAll(myselect)">Deselect All</button>
        <mat-option *ngFor="let club of clubs" value={{club._id}}>{{club.name}}</mat-option>
    </mat-select>
</mat-form-field>
<br/> -->


<mat-table #table class="users-table" [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.first_name}} {{user.last_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="clubs">
        <mat-header-cell *matHeaderCellDef>Club(s)</mat-header-cell>
        <!-- <mat-cell *matCellDef="let user"><span *ngFor="let club of user.clubs;let c=index">{{club.name}}<span *ngIf="c < user.clubs.length">, </span></span></mat-cell> -->
        <mat-cell *matCellDef="let user">{{user.clubs?.slice(2)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef>Roles</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <mat-form-field class="select-form-group">
                <mat-select placeholder="Roles" name="roles" [(ngModel)]="roles[user._id]" (selectionChange)="rolesChanged(user._id)" multiple>
                    <mat-option *ngFor="let role of possibleRoles" value={{role.value}}>{{role.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dcvBeitrag">
        <mat-header-cell *matHeaderCellDef>DCV Beitrag</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <mat-form-field class="select-form-group">
                <mat-select placeholder="Years paid" name="dcvBeitrag" [(ngModel)]="beitragYears[user._id]" (selectionChange)="dcvBeitragChanged(user._id)" multiple>
                    <mat-option *ngFor="let year of possibleYears" value={{year}}>{{year}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="playerid">
        <mat-header-cell *matHeaderCellDef>Player ID</mat-header-cell>
        <mat-cell *matCellDef="let user" style="font-size: 50%">{{user.player}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email_verified">
        <mat-header-cell *matHeaderCellDef>Verified Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.email_verified}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="passwordResetToken">
        <mat-header-cell *matHeaderCellDef>Password Token</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.passwordResetToken}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>



<br /><br />
<h2>All Known Players in DCV Clubs</h2>

<mat-form-field>
    <input matInput name='filter2' type="text" placeholder="Filter" [formControl]="filterTerm2" />
    <button *ngIf="filterTerm2" matSuffix mat-icon-button aria-label="Clear" (click)="filterTerm2.reset()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<mat-spinner *ngIf="loadingDCV"></mat-spinner>

<mat-table #tableDCV class="users-table" [dataSource]="dataSourceDCV">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let player">{{player.first_name}} {{player.last_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="clubs">
        <mat-header-cell *matHeaderCellDef>Club(s)</mat-header-cell>
        <!-- <mat-cell *matCellDef="let user"><span *ngFor="let club of user.clubs;let c=index">{{club.name}}<span *ngIf="c < user.clubs.length">, </span></span></mat-cell> -->
        <!-- <mat-cell *matCellDef="let player">{{getClubNames(player)}}</mat-cell> -->
        <mat-cell *matCellDef="let player">{{player.myclubs}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dcvBeitrag">
        <mat-header-cell *matHeaderCellDef>DCV Beitrag</mat-header-cell>
        <mat-cell *matCellDef="let player">
            <mat-form-field class="select-form-group">
                <mat-select placeholder="Years paid" name="dcvBeitrag" [(ngModel)]="player.dcvBeitrag" (selectionChange)="dcvBeitragChangedPlayer(player)" multiple>
                    <mat-option *ngFor="let year of possibleYears" value={{year}}>{{year}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="playerid">
        <mat-header-cell *matHeaderCellDef>Player ID</mat-header-cell>
        <mat-cell *matCellDef="let player" style="font-size: 50%">{{player._id}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="dcvColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dcvColumns"></mat-row>
</mat-table>

<mat-paginator [length]="dataSourceDCV.data.length"></mat-paginator>