<!-- temp hack -->
<!-- <button (click)="updateKO()">Update KO</button> -->

<div *ngIf="separateTabDisplay && tournament && tournament.title && category && category.name">
    <h2>{{tournament.title}} - {{category.name}}</h2>
</div>

<mat-tab-group [(selectedIndex)]="selectedTab" class="bracket">
    <mat-tab *ngIf="groups && groups.length > 0" label="Groups" i18n-label="bracket, groups tab label@@groups">
        <app-group [groups]="groups" [players]="players" [tournamentId]="tournamentId"
            [categoryId]="categoryId" [categoryIdx]="categoryIdx" [canMakeChanges]="canMakeChanges" [catType]="catType"
            [ko]="ko" [ko_b]="ko_b"></app-group>

        <span *ngIf="players && players.length >= 16 && assignmentMode === 'DCV' && rankingBestSeconds && rankingBestSeconds.length > 0">
            <h3 i18n="bracket, A/B tournament - ranking of 2nd in all groups header@@ranking of 2nd">Current ranking of 2nd in all groups (top {{nrBestSecondsForA}} {{nrBestSecondsForA === 1 ? 'goes': 'go'}} to A round):</h3>
            <table class="ranking2nd" style="border-collapse: separate; border-spacing: 5px 0;">
                <tr *ngFor="let entry of rankingBestSeconds;let i=index">
                    <ng-container *ngIf="players[entry.player.playerListIdx] && entry && entry.groupName">
                        <td>{{i}}.</td>
                        <td [ngClass]="{'goesToARound': i < nrBestSecondsForA}">{{players[entry.player.playerListIdx].last_name}} {{players[entry.player.playerListIdx].first_name}}</td>
                        <td class="group-stats">
                            (<ng-container i18n="label, 2nd of group X@@2nd of group">2nd of group</ng-container> {{entry.groupName}},
                            <ng-container i18n="@@Games">Games</ng-container>: {{entry.games}}, <ng-container i18n="@@Sets">Sets</ng-container>: +{{entry.sets}}/-{{entry.setslost}}, <ng-container i18n="@@Rel. Points">Rel. Points</ng-container>: {{entry.relpoints}}, <ng-container i18n="Points">Points</ng-container>: +{{entry.pointswon}}/-{{entry.pointslost}}, <ng-container i18n="menu, Ranking@@Ranking">Ranking</ng-container>: {{entry.ranking}})
                        </td>
                    </ng-container>
                </tr>
            </table>
            <!-- <ol class="ranking2nd">
                <li *ngFor="let entry of rankingBestSeconds;let i=index">
                    <span *ngIf="players[entry.player.playerListIdx] && entry && entry.groupName">
                        <span [ngClass]="{'goesToARound': i < nrBestSecondsForA}">{{players[entry.player.playerListIdx].last_name}} {{players[entry.player.playerListIdx].first_name}}</span> <span class="group-stats"> (<ng-container i18n="label, 2nd of group X@@2nd of group">2nd of group</ng-container> {{entry.groupName}},
                            <ng-container i18n="@@Games">Games</ng-container>: {{entry.games}}, <ng-container i18n="@@Sets">Sets</ng-container>: +{{entry.sets}}/-{{entry.setslost}}, <ng-container i18n="@@Rel. Points">Rel. Points</ng-container>: {{entry.relpoints}}, <ng-container i18n="Points">Points</ng-container>: +{{entry.pointswon}}/-{{entry.pointslost}}, <ng-container i18n="menu, Ranking@@Ranking">Ranking</ng-container>: {{entry.ranking}})
                        </span>
                    </span>
                </li>
            </ol> -->
        </span>
    </mat-tab>

    <mat-tab [label]="doBRound ? 'KO - A' : 'KO'">
        <ng-template matTabContent>
            <h2 *ngIf="doBRound" class="printonly">KO - A</h2>
            <span *ngIf="players && ko && players.length > 0 && ko.matches && ko.matches.length > 0; else noako">
                <div>
                    <app-ko [ko]="ko" [otherko]="ko_b" [players]="players" [groups]="groups" [ko_type]="'A'"
                        [tournamentId]="tournamentId" [categoryId]="categoryId" [canMakeChanges]="canMakeChanges" [catType]="catType"></app-ko>
                </div>
            </span>
            <ng-template #noako>
                <p>
                    <ng-container i18n="bracket, no KO for this category@@no KO">No KO</ng-container>: <span *ngIf="players" i18n="bracket, no KO explanation@@no KO explanation">only {{players.length}} players in this category.</span>
                </p>
            </ng-template>
        </ng-template>
    </mat-tab>

    <mat-tab *ngIf="doBRound" label="KO - B">
        <h2 class="printonly">KO - B</h2>
        <ng-template matTabContent>
            <span *ngIf="players && players.length >= 16; else nobko">
                <div>
                    <app-ko [ko]="ko_b" [otherko]="ko" [players]="players" [groups]="groups" [ko_type]="'B'"
                        [tournamentId]="tournamentId" [categoryId]="categoryId" [canMakeChanges]="canMakeChanges" [catType]="catType"></app-ko>
                </div>
            </span>
            <ng-template #nobko>
                <p>
                    <ng-template i18n="bracket, no B-KO for this category@@no B-KO">No B-KO</ng-template><span *ngIf="players" i18n="bracket, no B-KO explanation@@no B-KO explanation">: only {{players.length}} players (&lt; 16) players in the category.</span>
                </p>
            </ng-template>
        </ng-template>
    </mat-tab>

    <mat-tab label="Players" i18n-label="bracket, players tab label@@players">
        <span *ngIf="players && players.length > 0">
            <div class="playerlist">
                <ol>
                    <span *ngIf="catType === 'singles'; else isdouble">
                        <li *ngFor="let player of players">
                            <span class="name">{{player.last_name}} {{player.first_name}}</span>: <span class="points">{{player.points}}</span>
                        </li>
                    </span>
                    <ng-template #isdouble>
                        <li *ngFor="let player of players">
                            <span class="name">{{player.last_name}} {{player.first_name}}</span>
                            <span *ngIf="player.partner" class="name"> / {{player.partner.last_name}} {{player.partner.first_name}}</span>: <span class="points">{{player.points}}</span>
                        </li>
                    </ng-template>
                </ol>
            </div>
        </span>
    </mat-tab>

    <mat-tab label="Results" i18n-label="bracket, results tab label@@results">
        <div class=action-row>
            <!-- <button (click)="calculateResults()" [hidden]="!canMakeChanges" matTooltip="Not yet implemented!" class="somespacearound">Update Results</button> -->
            <button mat-raised-button color="primary" (click)="calculateResults()" [hidden]="!canMakeChanges" class="somespacearound" i18n="bracket, update results@@update results">Update Results</button>

            <button mat-raised-button color="primary" (click)="exportCSV()" [hidden]="!canMakeChanges" class="somespacearound" i18n="bracket, export as CSV@@export as CSV">Export as CSV</button>
            <!-- <button *ngIf="doBRound" (click)="exportCSV_b()" [hidden]="!canMakeChanges" class="somespacearound">Export B round as CSV</button> -->

            <!-- <button *ngFor="let res of getOwnPropertyNames(resultsFromOtherCats)" (click)="exportCSV_others(res)" [hidden]="!canMakeChanges" mat-raised-button color="primary" class="somespacearound">Export {{res.substring(4)}}</button> -->
        </div>

        <ng-container *ngIf="results && results.length > 0 && catType === 'singles'">
            <h2 i18n="bracket, for DM quali header@@for DM quali">For DM quali Ranking</h2>
            <div class="playerlist">
                <p *ngFor="let result of results">
                    <span class="rank">{{result.rank}}</span> (<span class="points">{{result.points | number:'1.0-0'}} Pts.</span>): <span class="name">{{result.player.last_name}} {{result.player.first_name}}</span>
                </p>
            </div>

            <ng-container *ngIf="results_b && results_b.length > 0">
                <h2 i18n="bracket, B-Round header@@B-Round">B-Round</h2>
                <div class="playerlist">
                    <p *ngFor="let result of results_b">
                        <span class="rank">{{result.rank}}</span> (<span class="points">{{result.points | number:'1.0-0'}} Pts.</span>): <span class="name">{{result.player.last_name}} {{result.player.first_name}}</span>
                    </p>
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!results || !results.length || catType !== 'singles'">
            <h2 *ngIf="resultsRanking?.length" i18n="bracket, for national ranking@@for national ranking">For National Ranking</h2>
            <span *ngIf="resultsRanking?.length" style="font-size:55%" class="noprint"><a *ngIf="canMakeChanges" (click)="removePoints(false)" i18n="bracket, remove all points@@remove all points">(Remove all points)</a></span>
            <span *ngIf="resultsRanking?.length">
                <div class="playerlist">
                    <span *ngIf="catType === 'singles'; else isdouble">
                        <p *ngFor="let result of resultsRanking">
                            <span class="rank">{{result.rank}}</span> (<span class="points">{{result.points | number:'1.0-0'}} Pts.</span>): <span class="name">{{result.player.last_name}} {{result.player.first_name}}</span>
                        </p>
                    </span>
                    <ng-template #isdouble>
                        <p *ngFor="let result of resultsRanking">
                            <span class="rank">{{result.rank}}</span> (<span class="points">{{result.points | number:'1.0-0'}} Pts.</span>): <span class="name">{{result.player.last_name}} {{result.player.first_name}}</span>
                            <span *ngIf="result.partner" class="name"> / {{result.partner.last_name}} {{result.partner.first_name}}</span>
                        </p>
                    </ng-template>
                </div>
            </span>
        </ng-container>

        <!-- <ng-container *ngIf="results && results.length > 0 && catType === 'singles'">
            <h2>For DM Quali Ranking</h2>
            <span style="font-size:55%"><a *ngIf="canMakeChanges" [routerLink]="" (click)="removePoints(true)">(Remove all points)</a></span>
            <div class="playerlist">
                <p *ngFor="let result of results">
                    <span class="rank">{{result.rank}}</span> (<span class="points">{{result.points}} Pts.</span>): <span class="name">{{result.player.last_name}} {{result.player.first_name}}</span>
                </p>
            </div>

            <ng-container *ngIf="results_b && results_b.length > 0">
                <h2>B-Round</h2>
                <div class="playerlist">
                    <p *ngFor="let result of results_b">
                        <span class="rank">{{result.rank}}</span> (<span class="points">{{result.points}} Pts.</span>): <span class="name">{{result.player.last_name}} {{result.player.first_name}}</span>
                    </p>
                </div>
            </ng-container>
        </ng-container> -->

        <div *ngIf="exportForDB && exportForDB.length > 0">
            <div *ngFor="let entry of exportForDB">entry</div>
        </div>
    </mat-tab>
</mat-tab-group>