<mat-expansion-panel *ngFor="let group of groups; let g=index" hideToggle="false" [expanded]="g === 0">
    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
        <mat-panel-title>
            <span class="noprint">
                <ng-template i18n="group, Group@@Group">Group</ng-template> {{group.name}}
            </span>
        </mat-panel-title>
        <mat-panel-description>
            <span *ngIf="catType === 'singles'; else isDouble1" class="noprint">
                <span *ngFor="let playerref of group.players">
                    {{players[playerref.playerListIdx].last_name}} {{players[playerref.playerListIdx].first_name}}
                </span>
            </span>
            <ng-template #isDouble1>
                <span *ngFor="let playerref of group.players" class="noprint">
                    <span *ngIf="players[playerref.playerListIdx].partner">
                        {{players[playerref.playerListIdx].last_name}}/{{players[playerref.playerListIdx].partner.last_name}}
                    </span>
                </span>
            </ng-template>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="wholegroupdiv">
        <h2 class="printonly" i18n="group, group header@@group header">Group {{group.name}}</h2>
        <div class="singlegroupmatch-container">
            <table *ngFor="let match of group.matches; let m=index" #table class="singlegroupmatch" [class.unfinished]="!isFinished(match)">
                <tr>
                    <span *ngIf="catType === 'singles'; else isDouble2">
                        <th>{{group.name}}/{{match.matchNr.num +1}}</th>
                    </span>
                    <ng-template #isDouble2>
                        <th colspan="2">{{group.name}}/{{match.matchNr.num +1}}</th>
                    </ng-template>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>Sum</th>
                </tr>
                <tr class='singlegroupmatch-row'>
                    <td class="singlegroupmatch-player" [ngClass]="{'singlegroupmatch-player-d1': (catType != 'singles')}">
                        <div class='groupNames'>
                            <span class='groupLastName'>{{players[match.player1.playerListIdx].last_name}}</span>
                            <span class='groupFirstName'>{{players[match.player1.playerListIdx].first_name}}</span>
                        </div>
                    </td>
                    <td *ngIf="catType !== 'singles' && players[match.player1.playerListIdx].partner" class="singlegroupmatch-player singlegroupmatch-player-d2">
                        <div class='groupNames'>
                            <span class='groupLastName'>{{players[match.player1.playerListIdx].partner.last_name}}</span>
                            <span class='groupFirstName'>{{players[match.player1.playerListIdx].partner.first_name}}</span>
                        </div>
                    </td>
                    <td class='singlegroupmatch-set' [ngClass]="{'saved': match.saved === true}">
                        <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[0].p1"
                            (change)="scorelistener.next({groupNr: g, matchNr: m, setNr: 0, playerNr: 1, value: $event.target['value']})"
                            (keyup)="onKey($event, g, m, 0)" #pointInput
                            placeholder="" [readonly]="!canMakeChanges">
                    </td>
                    <td class='singlegroupmatch-set' [ngClass]="{'saved': match.saved === true}">
                        <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[1].p1"
                            (change)="scorelistener.next({groupNr: g, matchNr: m, setNr: 1, playerNr: 1, value: $event.target['value']})"
                            (keyup)="onKey($event, g, m, 1)" #pointInput
                            placeholder="" [readonly]="!canMakeChanges">
                    </td>
                    <td class='singlegroupmatch-set' [ngClass]="{'saved': match.saved === true}">
                        <input class="singlegroupmatch-set third-set" [class.dontshow]="match.score[2].p1 === 0 && match.score[2].p2 === 0 && isFinished(match)" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[2].p1"
                            (change)="scorelistener.next({groupNr: g, matchNr: m, setNr: 2, playerNr: 1, value: $event.target['value']})"
                            (keyup)="onKey($event, g, m, 2)" #pointInput
                            placeholder="" [readonly]="!canMakeChanges">
                    </td>
                    <td class="singlegroupmatch-sum"><span class="noprint">{{calculateSum(match).p1}}</span></td>
                </tr>
                <tr class='singlegroupmatch-row'>
                    <td class="singlegroupmatch-player" [ngClass]="{'singlegroupmatch-player-d1': (catType != 'singles')}">
                        <div class='groupNames'>
                            <span class='groupLastName'>{{players[match.player2.playerListIdx].last_name}}</span>
                            <span class='groupFirstName'>{{players[match.player2.playerListIdx].first_name}}</span>
                        </div>
                    </td>
                    <td *ngIf="catType !== 'singles' && players[match.player2.playerListIdx].partner" class="singlegroupmatch-player singlegroupmatch-player-d2">
                        <div class='groupNames'>
                            <span class='groupLastName'>{{players[match.player2.playerListIdx].partner.last_name}}</span>
                            <span class='groupFirstName'>{{players[match.player2.playerListIdx].partner.first_name}}</span>
                        </div>
                    </td>
                    <td class='singlegroupmatch-set' [ngClass]="{'saved': match.saved === true}">
                        <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[0].p2"
                            (change)="scorelistener.next({groupNr: g, matchNr: m, setNr: 0, playerNr: 2, value: $event.target['value']})"
                            (keyup)="onKey($event, g, m, 3)" #pointInput
                            placeholder="" [readonly]="!canMakeChanges">
                    </td>
                    <td class='singlegroupmatch-set' [ngClass]="{'saved': match.saved === true}">
                        <input class="singlegroupmatch-set" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[1].p2"
                            (change)="scorelistener.next({groupNr: g, matchNr: m, setNr: 1, playerNr: 2, value: $event.target['value']})"
                            (keyup)="onKey($event, g, m, 4)" #pointInput
                            placeholder="" [readonly]="!canMakeChanges">
                    </td>
                    <td class='singlegroupmatch-set' [ngClass]="{'saved': match.saved === true}">
                        <input class="singlegroupmatch-set third-set" [class.dontshow]="match.score[2].p1 == 0 && match.score[2].p2 == 0 && isFinished(match)" type="number" min='0' max='99' maxlength="2" [(ngModel)]="match.score[2].p2"
                            (change)="scorelistener.next({groupNr: g, matchNr: m, setNr: 2, playerNr: 2, value: $event.target['value']})"
                            (keyup)="onKey($event, g, m, 5)" #pointInput
                            placeholder="" [readonly]="!canMakeChanges">
                    </td>
                    <td class="singlegroupmatch-sum"><span class="noprint">{{calculateSum(match).p2}}</span></td>
                </tr>
            </table>
        </div>

        <table #table class="groupmatchesoverview" [ngClass]="{'double-group': catType !== 'singles'}">
            <tr>
                <td class="first-col"></td>
                <td *ngIf="catType !== 'singles'"></td>
                <td *ngFor="let playerref of group.players" class="groupmatchesoverview-player" style='text-align: center'>
                    <span *ngIf="catType === 'singles'; else isDouble3">
                        {{players[playerref.playerListIdx].last_name.substring(0, 3)}}. {{players[playerref.playerListIdx].first_name[0]}}.
                    </span>
                    <ng-template #isDouble3>
                        <span *ngIf="players[playerref.playerListIdx].partner && players[playerref.playerListIdx].partner.last_name">
                            {{players[playerref.playerListIdx].last_name.substring(0, 3)}}./{{players[playerref.playerListIdx].partner.last_name.substring(0, 3)}}.
                        </span>
                    </ng-template>
                </td>
            </tr>
            <tr *ngFor="let playerref of group.players; let i=index">
                <td class="groupmatchesoverview-player">
                    <div class='groupNames'>
                        <span class='groupLastName'>{{players[playerref.playerListIdx].last_name}}</span>
                        <span class='groupFirstName'>{{players[playerref.playerListIdx].first_name}}</span>
                    </div>
                </td>
                <td *ngIf="catType !== 'singles' && players[playerref.playerListIdx].partner" class="groupmatchesoverview-player">
                    <div class='groupNames'>
                        <span class='groupLastName'>{{players[playerref.playerListIdx].partner.last_name}}</span>
                        <span class='groupFirstName'>{{players[playerref.playerListIdx].partner.first_name}}</span>
                    </div>
                </td>
                <td [ngClass]=" i == j ? 'groupmatchesoverview-blank': 'groupmatchesoverview-score'" *ngFor="let playerref of group.players; let j=index">
                    <div *ngIf="i != j" style='text-align: center'>
                        <span *ngIf="groupTable[g]; else yetunknown"><span class="noprint">{{groupTable[g][i][j].p1}}</span> : <span class="noprint">{{groupTable[g][i][j].p2}}</span></span>
                        <ng-template #yetunknown> : </ng-template>
                    </div>
                </td>
            </tr>
        </table>

        <h4 class="noprint" i18n="heading@@Current Group Ranking">Current Group Ranking</h4>
        <div *ngFor="let playerref of group.winners; let i=index" class="winners groupranking noprint">
            {{i+1}}. {{players[playerref.playerListIdx].last_name}} {{players[playerref.playerListIdx].first_name}}
            <span *ngIf="catType !== 'singles' && players[playerref.playerListIdx].partner">
                / {{players[playerref.playerListIdx].partner.last_name}} {{players[playerref.playerListIdx].partner.first_name}}
            </span>
            <span *ngIf="group.playerStats?.[playerref.playerListIdx] as stats" class="group-stats">
                (<ng-container i18n="@@Games">Games</ng-container>: +{{stats.gamesWon}}/-{{stats.gamesLost}}, <ng-container i18n="@@Sets">Sets</ng-container>: +{{stats.setsWon}}/-{{stats.setsLost}}, <ng-container i18n="@@Rel. Points">Rel. Points</ng-container>: {{stats.pointsWon - stats.pointsLost}}, <ng-container i18n="Points">Points</ng-container>: +{{stats.pointsWon}}/-{{stats.pointsLost}}, <ng-container i18n="menu, Ranking@@Ranking">Ranking</ng-container>: {{stats.seed}})
            </span>
        </div>
        <!-- print -->
        <div *ngFor="let playerref of group.winners; let i=index" class="printplayernames printonly">
            {{players[playerref.playerListIdx].last_name}} {{players[playerref.playerListIdx].first_name}}
            <span *ngIf="catType !== 'singles' && players[playerref.playerListIdx].partner">
                / {{players[playerref.playerListIdx].partner.last_name}} {{players[playerref.playerListIdx].partner.first_name}}
            </span>
        </div>
    </div>
</mat-expansion-panel>