table.unfinished input {
    color: red;
}
table:not(.unfinished) input.third-set.dontshow {
    display: none;
}

mat-panel-description span {
    padding-right: 5px;
}

.singlegroupmatch{
    border-collapse: collapse;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
}

.singlegroupmatch-set{
    text-align:center;
    min-width: 15px;
}

input {
    border: none;
    padding: 0;
}

.singlegroupmatch-sum{
    text-align:center;
}

.singlegroupmatch th{
    text-align:center;
}

.singlegroupmatch td{
    border: 1px solid black
}

.singlegroupmatch-player{
    width:100px;
}

.singlegroupmatch td.singlegroupmatch-player-d1 {
    border-right: none;
}
.singlegroupmatch td.singlegroupmatch-player-d2 {
    border-left: none;
}


.groupmatchesoverview{
    border-collapse: collapse;
    margin-bottom: 20px;
    clear: both;
}

.groupmatchesoverview td.first-col, .groupmatchesoverview.double-group td.first-col {
    /* text-align:center; */
    width:100px;
}
.groupmatchesoverview td {
    /* text-align:center; */
    width:60px;
}
.groupmatchesoverview.double-group td {
    /* text-align:center; */
    width:80px;
}

mat-expansion-panel-header[collapsedHeight="auto"]:not(.mat-expanded) {
    padding:10px;
}
mat-expansion-panel-header[collapsedHeight="auto"].mat-expanded {
    min-height:48px;
}

.groupNames {
    position: relative;
    min-height: 30px;
    line-height: 1.7;
}
.groupFirstName {
    font-size: 70%;
    position: absolute;
    left: 0;
    top: 15px;
}

/* no Spinner next to number input field */
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
    max-width: 30px;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
td.singlegroupmatch-set {
    max-width: 30px;
}

.saved {
    color: darkgreen;
}

.group-stats {
    font-size: 80%;
    opacity: 0.67;
}