*, *:before, *:after {
    box-sizing: inherit;
    outline: 0;
    border: 0;
}

th {
    font-size: 13px;
    padding: 10px 0;
    width: 10%;
    font-weight: normal;
    color: #777;
    text-align: center;
}

.kocol {
    padding: 10px 5px;
    box-shadow: 0 -3px 0 rgba(0,0,0,.07);
}
