<table [style.min-width.px]="160 * (ko.size+1)">
    <thead>
        <tr>
            <th *ngFor="let hd of levelHeaders">
                <span>{{hd}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="korow" [style.background-color]="ko_type === 'A' ? '#c8ffd6' : '#ffc8c8'">
            <td *ngFor="let kolevel of ko.matches; let i=index" class="kocol">
                <app-kopart [ko]="ko" [otherko]="otherko" [level]="ko.matches.length -1 -i" [players]="players" [canMakeChanges]="canMakeChanges"
                    [groups]=groups [tournamentId]="tournamentId" [categoryId]="categoryId" [ko_type]="ko_type" [catType]="catType"></app-kopart>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="false">
    <ng-template i18n="ko, round header - round of n@@round of n">Round of </ng-template>
    <ng-template i18n="ko, round header - Quarter-Finals@@Quarter-Finals">Quarter-Finals</ng-template>
    <ng-template i18n="ko, round header - Semi-Finals@@Semi-Finals">Semi-Finals</ng-template>
    <ng-template i18n="ko, round header - Final@@Final">Final</ng-template>
</div>