<div *ngFor="let match of matches;let l=index">
    <app-match [match]="match" [ko]="ko" [otherko]="otherko" [ko_type]="ko_type" [players]="players" [groups]="groups" [idx]="l" [level]="level"
        [tournamentId]="tournamentId" [categoryId]="categoryId" [canMakeChanges]="canMakeChanges" [catType]="catType"></app-match>
</div>
