<h1>
    {{tournamentName}} <ng-template i18n="matchlist, all matches header@@all matches">All matches</ng-template> <span style="font-size:55%"> &mdash; <a [routerLink]="['/ko', {id: tournamentId}]" i18n="matchlist, back to the draw link@@show the draw">Show the Draw</a> &mdash; <button (click)="update()" i18n="matchlist, reload the matches button@@reload matches">Update</button></span>
</h1>

<div *ngFor="let cat of data; let cIdx=index">

    <h2>{{cat.category}}</h2>
    <div *ngIf="cat.groupMatches.length">
        <h3 i18n="matchlist, group matches header@@group matches">Group matches</h3>
        <ol>
            <div *ngFor="let match of cat.groupMatches; let m=index">
                <li *ngIf="!PlayerRef.isBye(match.player1) && !PlayerRef.isBye(match.player2)" [ngStyle]="{'color': Match.checkWinner(match) !== 0 ? 'green' : 'black'}">
                    {{cat.category}}: Group {{getGroupName(match)}}/{{match.matchNr.num +1}}: {{getPlayers(cIdx, match)}} {{getScores(match)}}
                </li>
            </div>
        </ol>
    </div>

    <div *ngIf="cat.koAMatches.length">
        <h3>KO<span *ngIf="cat.koBMatches.length">-A</span>
            <ng-template i18n="matchlist, matches@@matches">matches</ng-template>
        </h3>
        <ol start="{{cat.groupMatches.length +1}}">
            <div *ngFor="let match of cat.koAMatches; let m=index">
                <li *ngIf="!PlayerRef.isBye(match.player1) && !PlayerRef.isBye(match.player2)" [ngStyle]="{'color': Match.checkWinner(match) !== 0 ? 'green' : 'black'}">
                    {{cat.category}}: {{getKoLevelName(match.matchNr.level)}}/{{match.matchNr.num +1}}: {{getPlayers(cIdx, match)}} {{getScores(match)}}
                </li>
            </div>
        </ol>
    </div>

    <div *ngIf="cat.koBMatches.length">
        <h3>KO-B <ng-template i18n="matchlist, matches@@matches">matches</ng-template>
        </h3>
        <ol start="{{cat.groupMatches.length + cat.koAMatches.length +1}}">
            <div *ngFor="let match of cat.koBMatches; let m=index">
                <li *ngIf="!PlayerRef.isBye(match.player1) && !PlayerRef.isBye(match.player2)" [ngStyle]="{'color': Match.checkWinner(match) !== 0 ? 'green' : 'black'}">
                    {{cat.category}}: {{getKoLevelName(match.matchNr.level)}}/{{match.matchNr.num +1}}: {{getPlayers(cIdx, match)}} {{getScores(match)}}
                </li>
            </div>
        </ol>
    </div>
</div>