/* no Spinner next to number input field */
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
    max-width: 30px;
    padding: 0;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
td.singlegroupmatch-set {
    max-width: 30px;
}

div.matchunit.unfinished input {
    color: red;
}
div.matchunit:not(.unfinished) input.score3.dontshow {
    display: none;
    border-left-style: none;
}

*, *:before, *:after {
    box-sizing: inherit;
    outline: 0;
    border: 0;
}

.thewinner {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0 5px;
    z-index: 10;
}
.thewinner span {
    position: absolute;
    font-size: 120%;
    top: 50%;
    transform: translateY(-50%);
    color: darkgreen;
    display: block;
    width: 93%;
    text-align: center;
}

.scores input {
    text-align: center;
    padding: 0;
    width: 20px;
    float: left;
    /* font-size: 80%; */
}
.first .scores input {
    height: 25px;
    margin-top: 10px;
}
.second .scores input {
    height: 25px;
    margin-bottom: 10px;
}

.scores input.score1 {
    border-radius: 0;
    border-right: darkgray;
    border-right-width: 1px;
    border-right-style: solid;
}
.scores input.score3 {
    border-radius: 0;
    border-left: darkgray;
    border-left-width: 1px;
    border-left-style: solid;
}
.scores input.ng-invalid {
    color: darkred;
}

.nameandscores {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    height: 35px;
}
.nameandscores.first {
    top: 0;
}
.nameandscores.second {
    bottom: 0;
}

.matchcontainer .matchunit {
    position: relative;
}

.matchcontainer .matchunit .match {
    border-right: solid 2px #fff;
/*    position: relative;*/
    width: 100%;
}
/* TODO remove last line for level 0 */
.matchcontainer:not(.final) .matchunit:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    right: -13px;
}
.matchcontainer .matchunit .match .playernames {
    position: relative;
}

.matchcontainer .matchunit .match .playername {
    position: relative;
    line-height: 0.9;
    /* left: 0; */
    /* bottom: -2px; */
    float: left;
    background: #00000000;
    font-size: 13px;
    z-index: 1;
    height: 40px;
    /* line-height: 29px; */
    /* max-width: 108px; */
    /* width: 108px; */
    width: calc(100% - 60px);
    overflow: hidden;
    padding: 0 2px;
    cursor: default;
}
.matchcontainer .matchunit .match.first .playername {
    line-height: 0.95;
}
.matchcontainer .matchunit .match .playername .playernames {
    position: absolute;
}
.matchcontainer .matchunit .match.first .playername .playernames {
    bottom: 4px;
}
.matchcontainer .matchunit .match.second .playername .playernames {
    top: 2px;
}
.matchcontainer .matchunit .match .playername .firstname {
    /* position: absolute;
    bottom: 15px; */
    font-size: 70%;
}

.scores {
    float: right;
}

.winner {
    color: darkgreen;
    font-weight: bold;
}

.bye {
    font-size: 80%;
    color: darkgray;
}

.herkunft-first {
    position: absolute;
    top: -18px;
    font-size: 70%;
    left: 50%;
}
.herkunft-second {
    position: absolute;
    bottom: -18px;
    font-size: 70%;
    left: 50%;
}

.saved {
    color: darkgreen;
}

@media print {
    .matchcontainer .matchunit .match {
        border-right: solid 2px #000;
    }
    .matchcontainer:not(.final) .matchunit:after {
        border: black 1px solid;
        width: 13px;
        right: -11px;
    }
    .nameandscores {
        border: black solid 2px;
        height: 40px;
    }
    .unfinished input {
        display: none;
    }
}
