<div *ngIf="catType === 'singles'; else isDouble" class="matchcontainer" [ngStyle]="matchcontainerStyle" [ngClass]="{'final': match.matchNr.level === '0'}">
    <div class="matchunit" [class.unfinished]="!isFinished(match)">
        <div class="match first" [ngStyle]="matchStyle">
            <div class="nameandscores first">
                <span class="playername" *ngIf="match.player1.koIdx &&
                    ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner &&
                    ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner.playerListIdx !== undefined" [ngClass]="{'winner': isWinner(1)}">
                    <!-- player is from a previous KO level -->
                    <div class="playernames">
                        <span class="firstname">{{players[ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner.playerListIdx].first_name}}</span><br />
                        <span class="lastname">{{players[ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner.playerListIdx].last_name}}</span>
                    </div>
                </span>
                <span class="playername" *ngIf="groups && groups.length > 0 && match.player1.groupIdx && groups[match.player1.groupIdx.groupNr].winners" [ngClass]="{'winner': isWinner(1)}">
                    <!-- player is from a group level -->
                    <div class="playernames">
                        <span class="firstname">{{players[groups[match.player1.groupIdx.groupNr].winners[match.player1.groupIdx.winnerNr].playerListIdx].first_name}}</span><br />
                        <span class="lastname">{{players[groups[match.player1.groupIdx.groupNr].winners[match.player1.groupIdx.winnerNr].playerListIdx].last_name}}</span>
                    </div>
                </span>
                <span class="playername" *ngIf="match.player1.playerListIdx !== undefined && players[match.player1.playerListIdx] !== undefined" [ngClass]="{'winner': isWinner(1)}">
                    <!-- no group stage -->
                    <div class="playernames">
                        <span class="firstname">{{players[match.player1.playerListIdx].first_name}}</span><br />
                        <span class="lastname">{{players[match.player1.playerListIdx].last_name}}</span>
                    </div>
                </span>

                <span class="bye" *ngIf="match.player1.bye === true; else unknown1">BYE
                </span>
                <ng-template #unknown1>
                    <span class="playername unknown1" *ngIf="!match.player1.groupIdx && (!match.player1.koIdx ||
                        !ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner ||
                        ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner.playerListIdx === undefined)">...
                    </span>
                </ng-template>

                <span class="scores" [ngClass]="{'saved': match.saved === true}">
                    <input type="number" min='0' max='99' maxlength="2" class="score1" [(ngModel)]="match.score[0].p1"
                        (change)="scorelistener.next({set: 0, playerNr: 1, value: $event.target['value']})" placeholder=""
                        [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 0">
                    <input type="number" min='0' max='99' maxlength="2" class="score2" [(ngModel)]="match.score[1].p1"
                        (change)="scorelistener.next({set: 1, playerNr: 1, value: $event.target['value']})" placeholder=""
                        [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 2">
                    <input type="number" min='0' max='99' maxlength="2" class="score3" [class.dontshow]="match.score[2].p1 == 0 && match.score[2].p2 == 0" [(ngModel)]="match.score[2].p1" (change)="scorelistener.next({set: 2, playerNr: 1, value: $event.target['value']})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 4">
                </span>
            </div>
            <div *ngIf="groups && groups.length > 0 && match.player1.groupIdx && groups[match.player1.groupIdx.groupNr].winners" class="herkunft-first">
                {{match.player1.groupIdx.winnerNr === 0 ? first : second}} <span i18n="match, e.g. 1st _of_ A@@nth of group">of</span> {{getLetter(match.player1.groupIdx.groupNr)}}
            </div>
        </div>

        <div class="match second" [ngStyle]="matchStyle">
            <div class="nameandscores second">
                <span class="playername" *ngIf="match.player2.koIdx &&
                    ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner &&
                    ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner.playerListIdx !== undefined" [ngClass]="{'winner': isWinner(2)}">
                    <div class="playernames">
                        <span class="lastname">{{players[ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner.playerListIdx].last_name}}</span><br />
                        <span class="firstname">{{players[ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner.playerListIdx].first_name}}</span>
                    </div>
                </span>
                <span class="playername" *ngIf="groups && groups.length > 0 && match.player2.groupIdx && groups[match.player2.groupIdx.groupNr].winners" [ngClass]="{'winner': isWinner(2)}">
                    <div class="playernames">
                        <span class="lastname">{{players[groups[match.player2.groupIdx.groupNr].winners[match.player2.groupIdx.winnerNr].playerListIdx].last_name}}</span><br />
                        <span class="firstname">{{players[groups[match.player2.groupIdx.groupNr].winners[match.player2.groupIdx.winnerNr].playerListIdx].first_name}}</span>
                    </div>
                </span>
                <span class="playername" *ngIf="match.player2.playerListIdx !== undefined && players[match.player2.playerListIdx] !== undefined" [ngClass]="{'winner': isWinner(2)}">
                    <!-- no group stage -->
                    <div class="playernames">
                        <span class="firstname">{{players[match.player2.playerListIdx].first_name}}</span><br />
                        <span class="lastname">{{players[match.player2.playerListIdx].last_name}}</span>
                    </div>
                </span>

                <span class="bye" *ngIf="match.player2.bye === true; else unknown2">BYE
                </span>
                <ng-template #unknown2>
                    <span class="playername unknown2" *ngIf="!match.player2.groupIdx && (!match.player2.koIdx ||
                        !ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner ||
                        ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner.playerListIdx === undefined)">...
                    </span>
                </ng-template>

                <span class="scores" [ngClass]="{'saved': match.saved === true}">
                    <input type="number" min='0' max='99' maxlength="2" class="score1" [(ngModel)]="match.score[0].p2"
                        (change)="scorelistener.next({set: 0, playerNr: 2, value: $event.target['value']})" placeholder=""
                        [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 1">
                    <input type="number" min='0' max='99' maxlength="2" class="score2" [(ngModel)]="match.score[1].p2"
                        (change)="scorelistener.next({set: 1, playerNr: 2, value: $event.target['value']})" placeholder=""
                        [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 3">
                    <input type="number" min='0' max='99' maxlength="2" class="score3" [class.dontshow]="match.score[2].p1 == 0 && match.score[2].p2 == 0" [(ngModel)]="match.score[2].p2" (change)="scorelistener.next({set: 2, playerNr: 2, value: $event.target['value']})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 5">
                </span>
            </div>
            <div *ngIf="groups && groups.length > 0 && match.player2.groupIdx && groups[match.player2.groupIdx.groupNr].winners" class="herkunft-second">
                {{match.player2.groupIdx.winnerNr === 0 ? first : second}} <span i18n="match, e.g. 1st _of_ A@@nth of group">of</span> {{getLetter(match.player2.groupIdx.groupNr)}}
            </div>
            <div *ngIf="match.matchNr.level === '0' && match.winner && match.winner.playerListIdx !== undefined" class="thewinner">
                <span>{{players[match.winner.playerListIdx].first_name}} {{players[match.winner.playerListIdx].last_name}}</span>
            </div>
        </div>

    </div>
</div>

<!-- DOUBLES -->

<ng-template #isDouble>
    <div class="matchcontainer" [ngStyle]="matchcontainerStyle" [ngClass]="{'final': match.matchNr.level === '0'}">
        <div class="matchunit" [class.unfinished]="!isFinished(match)">
            <div class="match first" [ngStyle]="matchStyle">
                <div class="nameandscores first">
                    <span class="playername" *ngIf="match.player1.koIdx &&
                        ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner &&
                        ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner.playerListIdx !== undefined" [ngClass]="{'winner': isWinner(1)}">
                        <!-- player is from a previous KO level -->
                        <div class="playernames">
                            <span class="lastname">{{players[ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner.playerListIdx].last_name}}</span> /
                            <span class="lastname" *ngIf="players[ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner.playerListIdx].partner; let partner">{{partner.last_name}}</span>
                        </div>
                    </span>
                    <span class="playername" *ngIf="groups && groups.length > 0 && match.player1.groupIdx && groups[match.player1.groupIdx.groupNr].winners" [ngClass]="{'winner': isWinner(1)}">
                        <!-- player is from a group level -->
                        <div class="playernames">
                            <span class="lastname">{{players[groups[match.player1.groupIdx.groupNr].winners[match.player1.groupIdx.winnerNr].playerListIdx].last_name}}</span> /
                            <span class="lastname" *ngIf="players[groups[match.player1.groupIdx.groupNr].winners[match.player1.groupIdx.winnerNr].playerListIdx].partner; let partner">{{partner.last_name}}</span>
                        </div>
                    </span>
                    <span class="playername" *ngIf="match.player1.playerListIdx !== undefined && players[match.player1.playerListIdx] !== undefined" [ngClass]="{'winner': isWinner(1)}">
                        <!-- no group stage -->
                        <div class="playernames">
                            <span class="lastname">{{players[match.player1.playerListIdx].last_name}}</span> /
                            <span class="lastname" *ngIf="players[match.player1.playerListIdx].partner; let partner">{{partner.last_name}}</span>
                        </div>
                    </span>

                    <span class="bye" *ngIf="match.player1.bye === true; else unknown1">BYE
                    </span>
                    <ng-template #unknown1>
                        <span class="playername unknown1" *ngIf="!match.player1.groupIdx && (!match.player1.koIdx ||
                            !ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner ||
                            ko.matches[match.player1.koIdx.level][match.player1.koIdx.num].winner.playerListIdx === undefined)">...
                        </span>
                    </ng-template>

                    <span class="scores" [ngClass]="{'saved': match.saved === true}">
                        <input type="number" min='0' max='99' maxlength="2" class="score1" [(ngModel)]="match.score[0].p1"
                            (change)="scorelistener.next({set: 0, playerNr: 1, value: $event.target['value']})" placeholder=""
                            [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 0">
                        <input type="number" min='0' max='99' maxlength="2" class="score2" [(ngModel)]="match.score[1].p1"
                            (change)="scorelistener.next({set: 1, playerNr: 1, value: $event.target['value']})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 2">
                        <input type="number" min='0' max='99' maxlength="2" class="score3" [class.dontshow]="!match.score[2]?.p1 && !match.score[2]?.p2" [(ngModel)]="match.score[2].p1" (change)="scorelistener.next({set: 2, playerNr: 1, value: $event.target['value']})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 4">
                    </span>
                </div>
                <div *ngIf="groups && groups.length > 0 && match.player1.groupIdx && groups[match.player1.groupIdx.groupNr].winners" class="herkunft-first">
                    {{match.player1.groupIdx.winnerNr === 0 ? first : second}} <span i18n="match, e.g. 1st _of_ A@@nth of group">of</span> {{getLetter(match.player1.groupIdx.groupNr)}}
                </div>
            </div>

            <div class="match second" [ngStyle]="matchStyle">
                <div class="nameandscores second">
                    <span class="playername" *ngIf="match.player2.koIdx &&
                        ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner &&
                        ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner.playerListIdx !== undefined" [ngClass]="{'winner': isWinner(2)}">
                        <div class="playernames">
                            <span class="lastname">{{players[ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner.playerListIdx].last_name}}</span> /
                            <span class="lastname" *ngIf="players[ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner.playerListIdx].partner; let partner">{{partner.last_name}}</span>
                        </div>
                    </span>
                    <span class="playername" *ngIf="groups && groups.length > 0 && match.player2.groupIdx && groups[match.player2.groupIdx.groupNr].winners" [ngClass]="{'winner': isWinner(2)}">
                        <div class="playernames">
                            <span class="lastname">{{players[groups[match.player2.groupIdx.groupNr].winners[match.player2.groupIdx.winnerNr].playerListIdx].last_name}}</span> /
                            <span class="lastname" *ngIf="players[groups[match.player2.groupIdx.groupNr].winners[match.player2.groupIdx.winnerNr].playerListIdx].partner; let partner">{{partner.last_name}}</span>
                        </div>
                    </span>
                    <span class="playername" *ngIf="match.player2.playerListIdx !== undefined && players[match.player2.playerListIdx] !== undefined" [ngClass]="{'winner': isWinner(2)}">
                        <!-- no group stage -->
                        <div class="playernames">
                            <span class="lastname">{{players[match.player2.playerListIdx].last_name}}</span> /
                            <span class="lastname" *ngIf="players[match.player2.playerListIdx].partner; let partner">{{partner.last_name}}</span>
                        </div>
                    </span>

                    <span class="bye" *ngIf="match.player2.bye === true; else unknown2">BYE
                    </span>
                    <ng-template #unknown2>
                        <span class="playername unknown2" *ngIf="!match.player2.groupIdx && (!match.player2.koIdx ||
                            !ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner ||
                            ko.matches[match.player2.koIdx.level][match.player2.koIdx.num].winner.playerListIdx === undefined)">...
                        </span>
                    </ng-template>

                    <span class="scores" [ngClass]="{'saved': match.saved === true}">
                        <input type="number" min='0' max='99' maxlength="2" class="score1" [(ngModel)]="match.score[0].p2"
                            (change)="scorelistener.next({set: 0, playerNr: 2, value: $event.target['value']})" placeholder=""
                            [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 1">
                        <input type="number" min='0' max='99' maxlength="2" class="score2" [(ngModel)]="match.score[1].p2"
                            (change)="scorelistener.next({set: 1, playerNr: 2, value: $event.target['value']})" placeholder=""
                            [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 3">
                        <input type="number" min='0' max='99' maxlength="2" class="score3" [class.dontshow]="!match.score[2]?.p1 && !match.score[2]?.p2" [(ngModel)]="match.score[2].p2" (change)="scorelistener.next({set: 2, playerNr: 2, value: $event.target['value']})" placeholder="" [readonly]="!canMakeChanges" [tabindex]="30000 - level*200 + idx*6 + 5">
                    </span>
                </div>
                <div *ngIf="groups && groups.length > 0 && match.player2.groupIdx && groups[match.player2.groupIdx.groupNr].winners" class="herkunft-second">
                    {{match.player2.groupIdx.winnerNr === 0 ? first : second}} <span i18n="match, e.g. 1st _of_ A@@nth of group">of</span> {{getLetter(match.player2.groupIdx.groupNr)}}
                </div>
            </div>

            <div *ngIf="match.matchNr.level === '0' && match.winner && match.winner.playerListIdx !== undefined" class="thewinner">
                <span *ngIf="players[match.winner.playerListIdx].partner; let partner">
                    {{players[match.winner.playerListIdx].first_name}} {{players[match.winner.playerListIdx].last_name}} /
                    {{partner.first_name}} {{partner.last_name}}
                </span>
            </div>

        </div>
    </div>
</ng-template>