<h1 mat-dialog-title i18n="dialog, let user choose players who get 0 points - those who didn't attend header@@choose players with zero points">Which of those players should get 0 (zero) points and not -100?</h1>
<mat-dialog-content>
    <mat-form-field *ngIf="data.players && data.players.length > 0; else noplayers">
        <mat-select placeholder="Select Players" name="selectPlayers" [(ngModel)]="data.selectedPlayers" multiple #theselect #myselect="ngModel" [required]="true">
            <mat-option *ngFor="let player of data.players" [value]="player">
                {{player.last_name}} {{player.first_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-template #noplayers>
        <p i18n="dialog, all players attended the tournament@@everybody attended">None. Everybody seemed to have attended.</p>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="[]" i18n="dialog, no one@@no one">No one</button>
    <button mat-raised-button type="button" [mat-dialog-close]="data.selectedPlayers" i18n="dialog, store selection@@save">Save</button>
</mat-dialog-actions>