<div class="tournament-header">
    <div *ngIf="canMakeChanges" class="to-ranking-buttons">
        <button (click)="addPointsToRanking()" color="accent" mat-raised-button class="warn-button" style="margin-right: 10px;">To DCV Ranking</button>

        <button *ngIf="assignmentMode.indexOf('MunichCup') < 0" (click)="addPointsToDMQualiRanking()" mat-raised-button color="accent" class="warn-button">To DM Quali Ranking</button>
    </div>
    <h2 *ngIf="tournamentName" class="main-title" [class.is-mobile]="mobileQuery.matches">{{tournamentName}}
        <div *ngIf="canMakeChanges && assignmentMode.indexOf('MunichCup') < 0" class="subtitle-links">
            <span> <a [routerLink]="['/ko/list', {id: tournamentId}]" i18n="tournament, show all matches link@@Show all Matches">Show all Matches</a> &mdash; </span>
            <span> <a [routerLink]="['/scores', {id: tournamentId}]" i18n="tournament, open page for easier points entry link@@enter scores">Enter Scores</a> &mdash; </span>
            <span> <a (click)="saveData()" style="cursor: pointer" i18n="tournament, store current tournament data link@@backup matches">Backup Matches</a></span>
            <span *ngIf="isPaul"> &mdash; <a [routerLink]="['/ko/tslist', {id: tournamentId}]">TournamentSoftware</a></span>
        </div>
    </h2>
</div>

<div *ngIf="!hasPassed() && !canMakeChanges" class="centerit"><button [disabled]="disableReloadButton" class="reload-button" color="primary" mat-raised-button (click)="updateScores()" i18n="tournament, reload from the cloud@@reload from the cloud">Reload scores from the cloud</button></div>
<!-- <button *ngIf="canMakeChanges" mat-raised-button matTooltip="Only necessary if there were errors while entering match scores" style="font-size:70%" (click)="pushLocalResults()">Push local results to the Cloud
</button> -->

<div *ngIf="showNewDraw >= 0; else normalMode">
    <h2>{{categoryNames[showNewDraw]}} (<a [routerLink]="['/ko', {id: tournamentId, reload: true}]" i18n="tournament, show all categories@@Show all Categories">Show all Categories</a>)</h2>
    <app-bracket #bracket [allPlayers]="players[showNewDraw]" [assignmentMode]="assignmentMode" [catType]="categoryTypes[showNewDraw]"
        [tournamentId]="tournamentId" [categoryId]="categoryIds[showNewDraw]" [categoryIdx]="showNewDraw" [newDraw]="newDraw"
        [canMakeChanges]="canMakeChanges" [doGroupPhase]="doGroupPhase[showNewDraw]"></app-bracket>
</div>

<ng-template #normalMode>
    <div *ngIf="!categoryNames || categoryNames.length === 0">
        <mat-spinner [diameter]="15" [strokeWidth]="1" [diameter]="15" [strokeWidth]="1"></mat-spinner>
    </div>
    <div *ngIf="assignmentMode.indexOf('MunichCup') < 0">
        <mat-accordion multi="true">
            <div *ngFor="let catName of categoryNames; let c=index">
                <mat-expansion-panel hideToggle="false" [expanded]="c === 0">
                    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                        <mat-panel-title>
                            <h2 [class.is-mobile]="mobileQuery.matches">
                                <ng-template i18n="tournament, category@@Category">Category</ng-template> {{c+1}}/{{categoryNames.length}}: {{catName}}
                                <span class="subtitle-links">
                                    <a href="/ko/cat;id={{tournamentId}};catId={{categoryIds[c]}}" target="_blank" rel="noopener" i18n="tournament, open in separate tab link@@open in separate tab">open in separate tab</a>
                                </span>
                                <span *ngIf="canMakeChanges" class="subtitle-links">
                                    <!-- (<a href="{{scoresheetURL}}tId={{tournamentId}}&catId={{categoryIds[c]}}&fed={{assignmentMode}}" target="_blank" rel="noopener">download scoresheets</a>, <a href="{{scoresheetURL}}tId={{tournamentId}}&catId={{categoryIds[c]}}&fed={{assignmentMode}}&tiny=true" target="_blank" rel="noopener">tiny</a>)</span> -->
                                    &mdash; <a href="{{scoresheetURL}}tId={{tournamentId}}&catId={{categoryIds[c]}}&fed={{assignmentMode}}" target="_blank" rel="noopener" i18n="tournament, download scoresheets link@@download scoresheets">download scoresheets</a>
                                </span>
                                <span *ngIf="isDCV" class="subtitle-links" style="color:red !important">
                                    <!-- <span *ngIf="canMakeChanges" class="subtitle-links" style="color:red"> -->
                                    &mdash; <a style="color:red !important" [routerLink]="['/ko', {id: tournamentId, catId: categoryIds[c], newDraw: 'true'}]" i18n="tournament, new draw link@@new draw">NEW Draw</a>
                                    <!-- (<a style="color:red !important" href="/ko;id={{tournamentId}};catId={{categoryIds[c]}};newDraw=true" target="_blank" rel="noopener">NEW Draw</a>)</span> -->
                                </span>
                            </h2>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-bracket #bracket [allPlayers]="players[c]" [assignmentMode]="assignmentMode" [catType]="categoryTypes[c]"
                        [tournamentId]="tournamentId" [categoryId]="categoryIds[c]" [categoryIdx]="c" [newDraw]="newDraw"
                        [canMakeChanges]="canMakeChanges" [doGroupPhase]="doGroupPhase[c]"></app-bracket>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>

    <div *ngIf="assignmentMode === 'MunichCup'" style="margin-top: 30px;">
        <app-munichcup [(allPlayers)]="players[0]" [catType]="categoryTypes[0]"
            [tournamentId]="tournamentId" [categoryId]="categoryIds[0]" [newDraw]="newDraw"></app-munichcup>
    </div>
    <div *ngIf="assignmentMode === 'MunichCup (Gruppen)'" style="margin-top: 30px;">
        <app-munichcup-groups [(allPlayers)]="players[0]" [catType]="categoryTypes[0]"
            [tournamentId]="tournamentId" [categoryId]="categoryIds[0]" [newDraw]="newDraw"></app-munichcup-groups>
    </div>
</ng-template>

<div class="enlargepage">&nbsp;</div>