mat-expansion-panel-header[collapsedHeight="auto"]:not(.mat-expanded) {
    padding: 10px;
}
mat-expansion-panel-header[collapsedHeight="auto"].mat-expanded {
    min-height: 48px;
}

h2.main-title.is-mobile {
    font-size: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2.is-mobile {
    font-size: 135%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.centerit {
    text-align: center;
    width: 100%;
    height: 30px;
}

.to-ranking-buttons {
    white-space: nowrap;
    float: right;
    margin-right: 10px;
}