<h1>
    {{tournamentName}} (TS Format)
    <span style="font-size:55%">
        (<a [routerLink]="['/ko', {id: tournamentId}]" i18n="matchlist, back to the draw link@@show the draw">Show the Draw</a>)
        <button (click)="update()" i18n="matchlist, reload the matches button@@reload matches">Update</button>
    </span>
</h1>


<button mat-raised-button color="primary" (click)="exportCSV()" class="somespacearound" style="margin-right: 20px;">Export</button><br />

<button mat-raised-button color="primary" (click)="exportCSV('Event')" class="somespacearound">Event</button>
<button mat-raised-button color="primary" (click)="exportCSV('player')" class="somespacearound">player</button>
<button mat-raised-button color="primary" (click)="exportCSV('stage')" class="somespacearound">stage</button>
<button mat-raised-button color="primary" (click)="exportCSV('stageentry')" class="somespacearound">stageentry</button>
<button mat-raised-button color="primary" (click)="exportCSV('Draw')" class="somespacearound">Draw</button>
<button mat-raised-button color="primary" (click)="exportCSV('Link')" class="somespacearound">Link</button>
<button mat-raised-button color="primary" (click)="exportCSV('Entry')" class="somespacearound">Entry</button>
<button mat-raised-button color="primary" (click)="exportCSV('PlayerMatch')" class="somespacearound">PlayerMatch</button>


<div [innerHTML]="htmlData"></div>

<!--
<p><b>Club</b><br />
    id,name<br />
    1,'no club specified'
</p>

<p><b>TournamentDay</b><br />
    id,tournamentday,availability<br />
    1,'{{tDate}}',True
</p>

<p><b>TournamentTime</b><br />
    id,tournamenttime,tournamentday,indexnr,location,courts<br />
    <span *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]; let i=index">
        {{item}},0,'{{tDate}}',{{i}},1,8<br />
    </span>
</p>

<p><b>Location</b><br />
    id,name<br />
    1,'Main Location'
</p>

<p><b>Player</b><br />
    id,name,firstname,middlename,club,country,payed,discount,address,postalcode,city,state,phone,office,fax,mobile,email,gender,dob,memberid<br />
    <span *ngFor="let player of ts_players">
        {{player}}<br />
    </span>
</p>


<div>
    <b>Event</b><br />
    id,name,abbreviation,gender,eventtype,minlevel,`level`,min_age,max_age<br />
    <span *ngFor="let event of ts_event">
        {{event}}<br />
    </span>
</div><br />

<div>
    <b>stage</b><br />
    ID,name,event,displayorder,stagetype,drawgroup<br />
    <span *ngFor="let stage of ts_stage">
        {{stage}}<br />
    </span>
</div><br />

<div>
    <b>Draw</b><br />
    id,name,event,stage,drawtype,drawsize<br />
    <span *ngFor="let draw of ts_draw">
        {{draw}}<br />
    </span>
</div><br />


<div>
    <b>Entry</b><br />
    id,event,player1,player2<br />
    <span *ngFor="let entry of ts_entry">
        {{entry}}<br />
    </span>
</div><br />


<div>
    <b>PlayerMatch</b><br />
    id,event,draw,planning,entry,winner,link,plandate,court,location,van1,van2,wn,vn,walkover,retired,team1set1,team2set1,team1set2,team2set2,team1set3,team2set3<br />
    <span *ngFor="let playermatch of ts_playermatch">
        {{playermatch}}<br />
    </span>
</div><br />


-->