<footer class="footer">
    <div class="container">
        <div class="centered">
            <p>
                <a routerLink="/imprint" routerLinkActive="active">Impressum</a>&nbsp;&nbsp;<a routerLink="/privacy" routerLinkActive="active">Datenschutzerklärung</a>
            </p>
        </div>
    </div>
</footer>
