﻿<div>
    <h2 i18n="login, login header@@login header">Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <mat-form-field class="form-group">
                <input i18n-placeholder="login, email@@Email" matInput placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required autocomplete="email username">
            </mat-form-field>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }" style="margin-bottom:10px">
            <mat-form-field class="form-group">
                <input i18n-placeholder="login, password@@password" type="password" matInput placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required autocomplete="current-password">
            </mat-form-field>
        </div>
        <div class="form-group">
            <button [disabled]="loading" mat-raised-button type="submit" i18n="login, login button@@login button">Login</button>
            <mat-spinner *ngIf="loading" class="smallspinner" [diameter]="15" [strokeWidth]="1"></mat-spinner>
            <button [routerLink]="['/register']" mat-raised-button class="cancelButton" i18n="login, register button@@register button">Register</button>
            <a [routerLink]="['/resetPassword']" class="cancelButton" i18n="login, reset password button@@rest password button">Reset Password</a>
        </div>
    </form>
</div>