<h2 *ngIf="dataSource?.data?.length" i18n="calendar, header for future events@@future events header">Upcoming DCV Events</h2>
<!-- <a *ngIf="!showall" routerLink="/calendar" routerLinkActive="active">Show all Events</a> -->

<div *ngIf="!dataSource; else showCalendar">
	<p>
		<ng-container i18n="loading indicator@@loading">Loading ...</ng-container>
		<mat-spinner [diameter]="15" [strokeWidth]="1"></mat-spinner>
	</p>
</div>

<ng-template #showCalendar>
	<div *ngIf="showall">
		<div class="EventFilter">
			<form>
				<div class="form-group">
					<mat-label for="eventMonth" i18n="calendar, event month@@Month">Month</mat-label>
					<select class="form-control" name="EventMonthSelection" [(ngModel)]="selectedEventMonth" (change)="onChange()">
						<option *ngFor="let month of eventMonths;let m=index" [value]="m">{{eventMonths[m]}}</option>
					</select>
					<mat-label mat-label for="eventYear" i18n="calendar, event year@@Year">Year</mat-label>
					<select class="form-control" name="EventYearSelection" [(ngModel)]="selectedEventYear" (change)="onChange()">
						<option *ngFor="let year of eventYears" [value]="year.value">{{year.label}}</option>
					</select>
				</div>
			</form>
		</div>
	</div>
	<mat-table *ngIf="dataSource?.data?.length" #table class="events-table" [dataSource]="dataSource">
		<ng-container matColumnDef="date">
			<mat-header-cell *matHeaderCellDef i18n="calendar, date@@date">Date</mat-header-cell>
			<mat-cell *matCellDef="let event">{{event.start_date}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef i18n="Title">Title</mat-header-cell>
			<mat-cell *matCellDef="let event">{{event.title}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="location">
			<mat-header-cell *matHeaderCellDef i18n="calendar, location@@location">Location</mat-header-cell>
			<mat-cell *matCellDef="let event">{{event.location}} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedEventColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedEventColumns" (click)="select(row)" class="cursor-pointer" [ngClass]="showall ? isCrossyEvent(row): ''"></mat-row>
	</mat-table>
</ng-template>


<h2 *ngIf="dataSourcePast?.data?.length" i18n="calendar, header for current and past events@@current and past events header">Running / Past DCV Events</h2>

<div *ngIf="!dataSourcePast; else showCalendar2">
	<p>
		<ng-template i18n="loading indicator@@loading">Loading ...</ng-template>
		<mat-spinner [diameter]="15" [strokeWidth]="1"></mat-spinner>
	</p>
</div>

<ng-template #showCalendar2>
	<mat-table *ngIf="dataSourcePast?.data?.length" #table2 class="events-table" [dataSource]="dataSourcePast">
		<ng-container matColumnDef="date">
			<mat-header-cell *matHeaderCellDef i18n="calendar, date@@date">Date</mat-header-cell>
			<mat-cell *matCellDef="let event">{{event.start_date}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef i18n="Title">Title</mat-header-cell>
			<mat-cell *matCellDef="let event">{{event.title}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="location">
			<mat-header-cell *matHeaderCellDef i18n="calendar, location@@location">Location</mat-header-cell>
			<mat-cell *matCellDef="let event">{{event.location}} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedEventColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedEventColumns" (click)="select(row)" class="cursor-pointer"></mat-row>
	</mat-table>
</ng-template>