/*
.items .badge {
  line-height: 3em;
  height: 3em;
}
*/

.form-group {
    margin-bottom: 12px;
    margin-top: 12px;
}

.form-control {
    width: auto;
    display: initial;
    margin-right: 12px;
}
