mat-expansion-panel-header[collapsedHeight="auto"]:not(.mat-expanded) { 
    padding:10px;
}
.mat-expansion-panel-header-description {
    margin-top: 10px;
}
mat-expansion-panel {
    max-width: 500px;
}
app-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-overview-cell {
    padding: 5px;
}
.categories-overview-cell1 {
    text-align: right;
    width: 120px;
}

.last-updated {
    font-size: 50%;
}

.zero-points {
    color: darkgrey;
}

table {
    page-break-after: always;
}

.categories-overview-row.middle-row {
    border-top: darkgray 1px solid;
    border-bottom: darkgray 1px solid;
}

.ranking-table th.namecol {
    max-width: 120px;
}
.ranking-table th, td {
    padding: 3px;
}
table.ranking-table th {
    border-bottom: none;
}
table.ranking-table, .ranking-table th {
    border: 1px solid black;
    border-collapse: collapse;
}
.ranking-table td.rightborder {
    border-right: 1px solid black !important;
    border-collapse: collapse;
}
.ranking-table td.header-sub-row {
    border-top: none !important;
    border: 1px solid black;
}
.ranking-table td {
    border: 1px dotted black;
    border-collapse: collapse;
}
.ranking-table td, .ranking-table th {
    text-align: center;
}
// .ranking-table th {
//     background-color: #fff !important;
// }
table.ranking-table  tr:nth-child(even) {
    background-color: #fff;
}
table.ranking-table  tr:nth-child(odd) {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #eee !important;
}

.add-form {
    max-width: 400px;
}

.mat-mdc-form-field {
    width: 100%;
}
.mat-mdc-form-field.small {
    width: 190px;
    margin-right: 10px;
}

.smallicon {
    cursor: pointer;
    margin-left: 0;
    vertical-align: top;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    width: 16px;
    text-indent: 0;
}
.mat-mdc-icon-button.small-button {
    margin: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
