<div *ngIf="!showall">
    <h2 i18n="header, show TOP n players of a category ranking@@Top Players per Category">Top Players per Category</h2>
    <a [routerLink]="fullRankingRoute" routerLinkActive="active" i18n="link, show all players of a category ranking@@Show full list">Show full list</a>
</div>

<div *ngIf="ranking">
    <h2 *ngIf="showall">DCV <ng-container i18n="header, Ranking@@Ranking">Ranking</ng-container>
    </h2>

    <div><a (click)="exportRanking()">Export for TournamentPlanner</a></div>

    <table class="categories-overview-table" style="margin-top: 10px;">
        <tr class="categories-overview-row">
            <td *ngIf="!(isSmall$ | async)" class="categories-overview-cell categories-overview-cell1"><b>Weiblich</b></td>
            <td class="categories-overview-cell"><a [routerLink]="'female/women'">Damen</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'female/u12'">U12</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'female/u14'">U14</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'female/u16'">U16</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'female/u18'">U18</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'female/ü40'">Ü40</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'female/ü50'">Ü50</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'female/ü60'">Ü60</a></td>
        </tr>
        <tr class="categories-overview-row middle-row">
            <td *ngIf="!(isSmall$ | async)" class="categories-overview-cell categories-overview-cell1"><b>Open / Männlich</b></td>
            <td class="categories-overview-cell"><a [routerLink]="'open/open'">Open</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'open/u12'">U12</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'open/u14'">U14</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'open/u16'">U16</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'open/u18'">U18</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'open/ü40'">Ü40</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'open/ü50'">Ü50</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'open/ü60'">Ü60</a></td>
        </tr>
    </table>
    <table class="categories-overview-table" style="margin-bottom: 20px;">
        <tr class="categories-overview-row">
            <td *ngIf="!(isSmall$ | async)" class="categories-overview-cell categories-overview-cell1"><b>Mixed / Doppel</b></td>
            <td class="categories-overview-cell"><a [routerLink]="'doubles/open'">Open Doppel</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'doubles/women'">Damendoppel</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'doubles/mixed'">Mixed</a></td>
            <!-- <td class="categories-overview-cell"><a [routerLink]="'doubles/mixed/ü40'">Mixed Ü40</a></td> -->
            <!-- <td class="categories-overview-cell"><a [routerLink]="'doubles/u18male'">U18 Männlich</a></td>
            <td class="categories-overview-cell"><a [routerLink]="'doubles/u18female'">U18 Weiblich</a></td> -->
        </tr>
    </table>


    <h1 class="table-heading" *ngIf="ranking">{{catName}} <span *ngIf="lastupdate" class="last-updated">{{lastupdate | date:'mediumDate'}}</span></h1>
    <div *ngIf="loading" style="margin: 20px 20px 20px 20px">
        <mat-spinner diameter="20"></mat-spinner>
    </div>
    <table class="ranking-table">
        <tr>
            <th style="background-color: white;">Platz</th>
            <th style="background-color: white;">Punkte</th>
            <th class="namecol" style="background-color: white;">Name</th>
            <!-- <ng-container *ngFor="let tournament of allTournaments; let t=index">
                <th *ngIf="!catName.match(DOPPELREGEX) && !tourPlus?.[t]?.onlyDoubles || catName.match(DOPPELREGEX) && !tourPlus?.[t]?.onlySingles" class="namecol" colspan="2" [ngStyle]="{'background-color': tourPlus?.[t]?.upcoming ? 'yellow' : 'white'}"> -->
            <th *ngFor="let tournament of allTournaments; let t=index" class="namecol" colspan="2" [ngStyle]="{'background-color': tourPlus?.[t]?.upcoming ? 'yellow' : 'white'}">
                <a *ngIf="tourPlus?.[t]?.id" [href]="'showTournament;id=' + tourPlus[t].id">{{tournament}}</a>
                <span *ngIf="!tourPlus?.[t]?.id" class="littlespaceleft">{{tournament}}</span>
                <span *ngIf="tourPlus?.[t]?.d" class="littlespaceleft"><br />{{tourPlus[t].d | date:'mediumDate'}}</span>
                <span *ngIf="tourPlus?.[t]?.onlyDoubles" class="littlespaceleft"><br />(nur Doppel)</span>
                <span *ngIf="tourPlus?.[t]?.onlySingles" class="littlespaceleft"><br />(nur Einzel)</span>
            </th>
            <!-- </ng-container> -->
        </tr>
        <tr>
            <td class="header-sub-row"></td>
            <td class="header-sub-row"></td>
            <td class="header-sub-row"></td>
            <ng-template ngFor let-tournament [ngForOf]="allTournaments">
                <td class="header-sub-row">Platz</td>
                <td class="header-sub-row">Punkte</td>
            </ng-template>
        </tr>

        <tr *ngFor="let entry of ranking; let eIdx=index">
            <td>{{entry.totalrank}}</td>
            <td>{{entry.points}}</td>
            <td class="rightborder" [ngClass]="{'zero-points': entry.points <= 0}">{{entry.player?.first_name}} {{entry.player?.last_name}}</td>
            <ng-template ngFor [ngForOf]="allTournaments" let-t="index">
                <ng-template [ngIf]="entry.details && entry.details[t] && entry.details[t].rank !== -1" [ngIfElse]="noentry">
                    <td>{{entry.details[t]?.rank !== 900 ? entry.details[t].rank : '-'}}<span *ngIf="entry.details[t].bround"> (B)</span></td>
                    <td class="rightborder">
                        <span>{{entry.details[t]?.points !== 0 ? entry.details[t].points : '-'}}</span>
                        <!-- <button *ngIf="canAdd()" mat-icon-button class="small-button" (click)="changeEntry(entry, rIdx, t)">
                            <mat-icon class="smallicon">edit</mat-icon>
                        </button> -->
                    </td>
                </ng-template>
                <ng-template #noentry>
                    <td></td>
                    <td class="rightborder"></td>
                </ng-template>
            </ng-template>
        </tr>
    </table>

    <!-- 
    <mat-tab-group>
        <mat-tab *ngFor="let rankType of [0,1,2]" [label]="rankingLabel[rankType] | titlecase">
            <mat-accordion [multi]="!showall">
                <span *ngFor="let ranking of typedRankings[rankType];let i=index">
                    <mat-expansion-panel *ngIf="ranking.ranking && ranking.ranking.length > 0" [expanded]="showall ? false : true">
                        <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                            <mat-panel-title>
                                <h4 id={{ranking.category.name}}>{{ranking.category.name}}</h4>
                            </mat-panel-title>
                            <mat-panel-description style="justify-content: flex-end;">
                                <span style="font-size: 80%;">
                                    <ng-container i18n="@@Entry updated">Entry updated</ng-container>: {{ranking.lastupdate | date:'shortDate'}}
                                </span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <ul class="items">
                                <li *ngFor="let entry of ranking.ranking">
                                    <app-player [rank]=entry.rank [points]=entry.points [player]=entry.player></app-player>
                                </li>
                            </ul>
                        </ng-template>
                    </mat-expansion-panel>
                </span>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group> -->
</div>

<div class="enlargepage">&nbsp;</div>